[2019-12-12 14:19] #1332 closed

[2019-12-12 18:19] alasarr commented on #1309
Guys, a couple of small ideas, not something required for the beta7.

1) Can we make file_path a required parameter
2) Instead of download, how about to rename it to `to_csv`?

[2019-12-12 20:13] jorisvandenbossche commented on #1260
There are some other methods as well that GeoPandas overwrites which assume there is a geometry column (eg merge, explode).

[2019-12-12 21:20] alasarr commented on #1260
Thanks @jorisvandenbossche for reporting! @Jesus89 could you add it for the next iteration?

[2019-12-13 10:34] oriolbx opened #1358 "Epoch time in animation widget when source is a CartoDataFrame"
* This behaviour was reproduced with beta 5 and beta 6 of CARTOFrames.

When creating a map from a dataframe with a timestamp or date format, the animation widget shows the time as epoch time instead of the date format of the dataframe or CartoDataFrame:

![Screenshot 2019-12-13 at 11 33 27](https://user-images.githubusercontent.com/11177693/70793801-6f70f980-1d9c-11ea-922e-e1dfc4f3aedc.png)

And

[2019-12-13 13:56] ramiroaznar opened #1359 "Animation is not properly updated after a category is selected"
There is an unexpected animation behavior related to the interaction of filtering with widgets in cartoframes. After selecting one category in one widget, the time series widget histogram is redrawn but the animation does not adjust to the new state.

**STR**

1. Go to https://carto.com/blog/real-estate-data-tinsa-digital/
2. Check cartoframes map
3. Check the animation
4. Select a category
5. Che

[2019-12-13 16:57] andy-esch opened #1360 "Catalog filters should apply to showing subscriptions too"
Right now, when you chain some filtering methods on Catalog(), you can narrow down the results. This doesn't hold for showing subscriptions though:

[code]
<img width="723" alt="Screen Shot 2019-12-13 at 11 56 55 AM" src="https://user-images.githubusercontent.com/1041056/70817492-b1e80580-1d9f-11ea-9810-443548921123.png">

[2019-12-13 18:22] andy-esch opened #1361 "datset.geom_coverage doesn't show map"
The docs for dataset.geom_coverage imply that a map will be shown when calling the property `geom_coverage`:

https://github.com/CartoDB/cartoframes/blob/b4b569543357d231c29cd282ad3f1e128035d065/cartoframes/data/observatory/catalog/geography.py#L132-L136

What is returned instead is the ewkb of the coverage.

[2019-12-13 22:29] andrewbt commented on #1012
Just for my own clarification and education, does the 2gb hard limit to COPY mean there is no way to upload datasets larger than 2 GB to CARTO? Or just that larger datasets need to be "chunked" into a series of smaller POST requests none of which exceeding 2 GB as part of the `Transfer-Encoding: chunked` header upload process typically used with COPY?

Maybe the Python SDK / cartoframes should add

[2019-12-14 00:32] andrewbt opened #1362 "COPY API rate limit error in Quickstart"
When running through the Quickstart Guide, I hit a COPY API rate limit error at this step: https://github.com/CartoDB/cartoframes/blob/develop/docs/developer-center/guides/04-Quickstart.md#publish-and-share-your-results

where it says to put both `to_carto` calls in the same cell:

[code]

I guessed that if I separated them into separate cells and waited for the first to complete before starting t

[2019-12-14 00:55] andrewbt opened #1363 "Consider changing local URLs in docs to full HTTP links?"
In the Developer Center, numerous examples are shown with specific local references to the file structure of this repository:
<img width="829" alt="Screen Shot 2019-12-13 at 7 42 45 PM" src="https://user-images.githubusercontent.com/2013555/70840521-cbf60800-1de0-11ea-8d16-80d4c1813cd2.png">

For ease of the copying/pasting beginner user, who likely doesn't have this whole repo cloned, nor should

[2019-12-16 08:03] oriolbx commented on #1012
@andrewbt With SQL API COPY FROM command itself you can compress the CSV files that are bigger than 2GB into a .gz file and add the header `-H "Content-Encoding: gzip"`.

[code]
If the compressed .gz file is lower than 2 GB, it can be used to upload data with the SQL API COPY FROM command, otherwise it needs to be chunked.

Within CARTOframes itself, I'm not sure how the method to_carto() handles

[2019-12-16 08:07] #1352 closed

[2019-12-16 09:27] alrocar commented on #1012
COPY appends by default, so you can upload larger datasets as long as you split them properly.

Datasets travel compressed and with the `Transfer-Encoding` header. That allows to stream large files without the need to load them in memory (both in the client and the server).

The problem with this issue is there's a hard limit in the API, and it closes the connection after 2GB of data have been rec

[2019-12-16 09:41] Jesus89 commented on #1012
There is also another approach using COPY BINARY, but this step requires more research for the generation of the binary query.

[2019-12-16 10:16] Jesus89 commented on #1333
cc @CartoDB/rt-managers

[2019-12-16 10:21] Jesus89 commented on #634
- Add option Map to disable mouse zoom (+ add zoom buttons)

[2019-12-16 10:41] oleurud opened #1364 "Catch and show errors from BQ"
Sometimes, an error happens in BigQuery and the user can not see anything about it. I think, we can show the messages from BQ to the client to help them to understand what is going on.

[2019-12-16 11:19] Jesus89 opened #1365 "Add Data Enrichment e2e tests"
- Enrich points
- Enrich polygons
- Download to df
- Download to file

Extra:
- Refactor Data Enrichment unit tests

cc @alasarr @oleurud

[2019-12-16 11:34] Jesus89 commented on #1364
Is this related to https://github.com/CartoDB/cartoframes/issues/1246?

[2019-12-16 12:07] oleurud commented on #1364
No, it isn't. The idea of the #1246 is to track unexpected errors from BQ. I suppose we can close it in the next iteration since we will have enough users using it.

[2019-12-16 12:16] Jesus89 commented on #1364
:+1:

[2019-12-16 15:45] oleurud opened #1368 "[DO] to_csv & to_dataframe"

[2019-12-16 15:51] oleurud opened #1369 "Remove get from CatalogList"
Avoid `get` in catalog entities list

[2019-12-16 16:39] oleurud opened #1370 "[Data Services] check quota before using third party service"
At least in the isolines service, if the user does not have enough quota, the service is not working as expected and we are returning an unexpected error.

We need to validate quotas before calling third party service in Data Services, to avoid unexpected error messages in the process.

[2019-12-16 17:46] Jesus89 commented on #1300
Hi @cmongut. In Python is generally more pleasant to work with functions + params than dictionaries: smaller characters, easier to read/write, autocomplete, better documentation.

[2019-12-16 17:49] oleurud commented on #1370
@jgoizueta I have a doubt in geocoding service. The idea of this issue is to validate if the user current quota is bigger than the estimated and raise an error otherwise.

But, I see the estimated is calculated https://github.com/CartoDB/cartoframes/blob/develop/cartoframes/data/services/utils/geocoding_utils.py#L221-L222
but in case of error in the geocoding query execution, you overwrite it http

[2019-12-16 20:35] andrewbt commented on #1012
Just saw where the 2 GB limit is documented: https://carto.com/developers/sql-api/guides/copy-queries/#limits

Thanks! I feel like I've known the COPY endpoint a lot and yet never knew about this limit :)

[2019-12-16 21:48] andy-esch commented on #1300
Hey @Jesus89, looks great overall -- I love the consistent syntax and would feel comfortable if it froze like this right now.

About namespace/module. I'm not sure I'm comfortable importing these elements from `viz`. What about a submodule like:
[code]

Or maybe specific submodules for each one (`cartoframes.viz.widgets`) that is more in line with how we organize helper layers (`cartoframes.viz.he

[2019-12-17 08:08] cmongut commented on #1300
@Jesus89 LGTM! I agree with @andy-esch about moving them to submodules namespaces.

@andy-esch could you add an example about your concerns?

[2019-12-17 08:27] cmongut commented on #1301
@Jesus89, it's looking great!

- Could you add to the example all the style options we will have available? Maybe `stroke_with` is missing.

- About removing the helpers methods, I would do it. The new way would be:

[code]

@andy-esch could you review this proposal?

[2019-12-17 09:13] Jesus89 commented on #1155
Related to https://github.com/CartoDB/cartoframes/issues/1331

[2019-12-17 09:18] cmongut opened #1373 "Moving CARTOframes user to org has broken its published maps"
Example:
![image](https://user-images.githubusercontent.com/711025/70981974-79556e00-20b6-11ea-80d2-b38617cdb629.png)

[2019-12-17 09:59] Jesus89 commented on #1300
Hi @andy-esch, @cmongut.

This is related to #1301, which completes the Viz API changes.

I thought yesterday about putting everything in `cartoframes.viz` because the user can import it in one line. It makes sense when you are using style helpers, for example `from cartoframes.viz import Layer, color_category_style`, but maybe it was not a super good idea, so having structured namespaces seems be

[2019-12-17 10:12] oleurud opened #1374 "remove VariableFilter class by dict"
In the past, `aggregation` (when custom) and `filters` were using a list of custom classes. We changed `aggregation` to `dict` to be more pythonic. The idea is to do the same in filters.

Right now, we are using a custom class for filters:
[code]

And the result would be:
[code]

[2019-12-17 11:26] jgoizueta commented on #1370
I think it's nice to check for enough quota here and raise that error without running the geocoder.
But you're keeping the error handling showing the remaining/estimated quota, right? (because the quota may have been consumed between the CFs check and the actual geocoding execution).

[2019-12-17 14:11] oriolbx opened #1377 "Missing images in Developer center Quickstart Authentication section"
In the the [Authentication -> Get your Master API Key](https://carto.com/developers/cartoframes/guides/Authentication/#get-your-master-api-key) section, there are two images, which are not correctly loaded:

<img width="627" alt="Screenshot 2019-12-17 at 15 08 55" src="https://user-images.githubusercontent.com/11177693/71002332-53908f00-20df-11ea-85a2-7e95fa8c5e96.png">

In the console, two 404 er

[2019-12-17 14:27] oriolbx opened #1379 "Map errors on Quickstart Publish and Share and Quickstart Visualization sections"
In the [Publish and share section of the Quickstart](https://carto.com/developers/cartoframes/guides/Quickstart/#publish-and-share-your-results) and in several maps from the Visualization section of the Quickstart ([add Layers to Map](https://carto.com/developers/cartoframes/guides/Visualization/#add-layers-to-a-map) and [Insights](https://carto.com/developers/cartoframes/guides/Visualization/#ins

[2019-12-17 14:32] oleurud commented on #1370
Yes, I am. I am going to move the PR forward

[2019-12-17 14:42] oriolbx commented on #1254
I experienced the same problem when in one of the layers I defined a click popup and in the other has a hover popup.

It looks like this issue is not happening when both layers have the hover popup set.

### Case 1: Two layers with hover popup

Overlapped areas between the two layers show a popup with popup values from both layers

[code]

![Screenshot 2019-12-17 at 15 35 25](https://user-images.g

[2019-12-17 14:57] #1364 closed

[2019-12-17 15:16] Jesus89 commented on #1310
- `matplotlib` is an optional dependency. I'll add more info in the exception to guide the user to install this extra dep.
- `pako` (the library to unzip the geojson) is loaded from the cdn: https://cdnjs.cloudflare.com/ajax/libs/pako/1.0.10/pako_inflate.min.js. I can not reproduce this issue, so I think it could be related to a punctual error with this URL.

[2019-12-17 15:44] cmongut commented on #1310
@oriolbx I think you have got this error recently. Could you check if you get every time you install it?

[2019-12-17 16:37] elenatorro commented on #1300
We all agree it's ok to remove the `widgets`, `helpers`, `popups` namespaces, and after talking with @makella we also prefer to keep everything under the `viz` namespace as @Jesus89 suggests.

Nice! If there's any other thing, remember we can keep adding comments to each task :)

[2019-12-17 16:37] #1300 closed

[2019-12-17 17:04] elenatorro commented on #1301
About removing the layer helpers, I would not remove them entirely. Removing them will mean doing a big breaking change, but I agree we should not support both ways of doing this.

Let's keep the helpers, but remove them from documentation. This way, people migrating from the beta won't have breaking changes. And, at some point, we will announce we will remove them.

[2019-12-17 17:14] alrocar commented on #1310
@Jesus89 would it make sense to add `pako` to the local bundle instead of using the CDN?

[2019-12-17 17:16] oriolbx commented on #1310
I will try it @cmongut !

[2019-12-17 17:19] Jesus89 commented on #1310
Good suggestion @alrocar, let's add it to `https://libs.cartocdn.com/cartoframes/dependencies/`

[2019-12-17 17:44] Jesus89 commented on #1310
I have uploaded the lib to our CDN: https://libs.cartocdn.com/cartoframes/dependencies/pako_inflate.min.js, so we will use this from now on.

[2019-12-17 17:56] Jesus89 commented on #1362
@alrocar @oleurud are we going to increase the COPY Rate limits to avoid these situations?

[2019-12-17 20:05] alrocar commented on #1362
I vote yes, please involve @cmongut in the convo

[2019-12-17 22:02] ztephm opened #1382 "[revantage-admin] CARTOframes beta7 isoline viz helper palette not rendering"
default

### Context

* [Zendesk ticket](https://carto.zendesk.com/agent/tickets/32535)
* `username` [revantage-admin](https://carto.com/superadmin/users/402929)
* `orgname` [revantage](https://carto.com/superadmin/organizations/1793)

This user is creating an isochrones map with CARTOframes v10b7. When the isolines are calculated—ie: [15*60] instead of something like [600]—and an isolines vis hel

[2019-12-17 22:02] ztephm commented on #1382
Update: this is happening for single isochrones even if a non-calculated notation is used

[code]

![Screen Shot 2019-12-17 at 2 17 01 PM](https://user-images.githubusercontent.com/1779444/71035049-e88f8a00-20d7-11ea-8398-062929fcd99a.png)

There are no error messages in CARTOframes.

[2019-12-18 03:32] makella commented on #1350
Just want to add a note that this also involves defining the default behavior for components inside of each helper style... for example, we want to explore things like which components are set to true by default (all of them or only legend?), also, what is the workflow for the time-series widget that gets added when a user animates in a helper if `widget=False` -- we have ideas but want to see it

[2019-12-18 03:45] makella commented on #634
this is great!!

since we've discussed in this ticket before, would there be an opportunity with this enhancement to also add some sort of home button/action to recenter the map to its original extent? after using CF more, it makes a lot of sense for both notebook and published maps (especially in the cases where scroll zoom is set to true)

having the option to disable zoom will make a huge diffe

[2019-12-18 08:52] oleurud commented on #1362
We should check the current usage to define the limits. Right now, a user has at least 6 requests per minute. We should take into account this feature allow the user to upload GBs per minute to our servers

[2019-12-18 08:53] elenatorro commented on #1301
We will tackle this last point in the *Layers Helpers* issue https://github.com/CartoDB/cartoframes/issues/1350 I'm closing this one, but feel free to comment anything 👍

[2019-12-18 08:53] #1301 closed

[2019-12-18 08:56] #1324 closed

[2019-12-18 09:24] oriolbx opened #1384 "Issues with Onpremise 3.0.3"
* This was tested using Onpremise 3.0.3
* These issues don't happen when using a cloud account.
* Using cartoframes from devop branch

## Property with an incorrect type sqrt() error

When following the Quickstart Guide and using an Onprem account, I got the next error when using a geocoded dataframe with the size_continuos_layer helper function: `[Property with an incorrect type] sqrt(): invalid

[2019-12-18 09:27] alrocar commented on #1362
I think those are two different things:

1. Revisit current rate limits (requests per second). Right now if I sign up for an Individual plan I have 3 requests per minute. That means, if I want to upload 4 small files with 10 records, CF will throw an error.

2. Add other type of rate limit: To me this is a project itself.

cc. @ana-md since they have the same situation in other project.

[2019-12-18 09:36] cmongut commented on #1301
Hey @elenatorro, I like the idea to keep the helpers if we can, let's see how long.

About the Layer class, have you thought about doing something similar or we will have breaking changes for sure?

[2019-12-18 09:44] cmongut commented on #1362
@andrewbt could you tell us which type of account were you using?

[2019-12-18 10:01] cmongut commented on #1362
Don't worry @andrewbt, we are already checking the metrics :)

[2019-12-18 10:39] oleurud commented on #1362
Four things about this one:

### Limits
Checking our metrics I see a very low rate of requests hitting rate limits in copy (more details shared internally) So, IMO, the limits seems to be ok.

### Increasing usage
As the copy endpoints are going to be more used, we should have something to validate it easily.

### copyto
Showing your case Andrew, I see you hit rate limits 3 times. But, we should n

[2019-12-18 12:03] ana-md commented on #1362
Adding @VictorVelarde for visibility

[2019-12-18 12:10] elenatorro commented on #1301
You're right, it also has some breaking changes. Let's discuss if we keep them in the issue I mentioned once if finish the rest of the issues 👍 thanks!

[2019-12-18 12:35] VictorVelarde commented on #1362
This might affect also the COPY use in Kepler integration. Thx for keeping us up-to-date. Just a reflection we made about 'request retry': a retry is safer to get the final result, but it could add a 'slowness perception' to the user, and perhaps it would be nice to notify him (or even break) during the process because of that limit hit. That way the user could consider another options (like a bet

[2019-12-18 13:39] Jesus89 commented on #1341
Hi, there are legal implications adding a mode to skip the confirmation. My proposal is to add a subscription in CLI (y/N) and then if you need to automate, use external tools like pyautogui.

This is an example of a script to subscribe using CLI:

[code]

Output case n, case y:

<Dataset.get('ags_crimerisk_e9cfa4d4')>
Subscription contract:
You are about to subscribe to "carto-do.ags.demographics

[2019-12-18 13:45] #1370 closed

[2019-12-18 13:49] oleurud commented on #1362
Thanks @VictorVelarde, @alrocar told us just the same, so it seems we need to rethink about it. It is your call @cmongut :)

[2019-12-18 13:51] oriolbx opened #1386 "Shapely and Fiona dependencies failing on Windows"
* Issue reproduced using Windows 7 and Conda environment

It looks like we're using shapely version 1.6.x. However, there are no versions 1.6 distributions suitable for Windows on PyPI.

Because of this, the installation of beta versions CARTOframes is failing on Windows. Windows users can't install the beta versions because it can't find the Shapely version 1.6.x module.

I installed with pip Sha

[2019-12-18 14:18] elenatorro commented on #1348
Although we've already discussed the format and syntax of this refactor, there've been a couple of suggestions about changing it. I think we should review them before continuing, but remember we've limited time to implement last minute changes.

**The problem**: `popups` is plural cause there're two kind of popups at the moment: `click` and `hover`. Howerver, having several `click_popup` and `hove

[2019-12-18 14:26] Jesus89 commented on #1348
Option 4:

from cartoframes.viz import popup_item

[code]

Semantics: a Layer has only a `popup` for click and hover. These popups are formed by a list of items.

[2019-12-18 14:47] makella commented on #1348
could we remove the `popup_item` and just accept a list? or is that non-conventional?

[code]

[2019-12-18 14:50] elenatorro commented on #1348
About @Jesus89's option:

I've a doubt, so do you mean having *two* parameters in the layer instead of one?

[code]

Maybe I misunderstood it, but I don't really like that cause it breaks other conventions, I think we should keep using `popups` in plural.

About @makella's option:

We could, but the syntax would be as follows:

[code]

I don't like this cause, altough the `popup_item` sounds verbo

[2019-12-18 14:52] cmongut commented on #1362
We are on it. This has several inplications.

Thank you!

[2019-12-18 15:03] Jesus89 commented on #1348
Yes

I would try to avoid using tuples, namedtuples or lists with positional params because they are harder to maintain, document and understand. I prefer using `popup_item` which provides a clear way of creating text items for the popups. In the future we can extend the helpers to create content for the popups, now it's only "title+text" but in the future, we can provide different shapes or style

[2019-12-18 15:04] makella commented on #1348
i see so we wouldn't have named parameters available... yeah i'm finding the `popup_item` verbose but maybe it is just the words `popup_item`

[2019-12-18 15:12] #1342 closed

[2019-12-18 15:13] #1341 closed

[2019-12-18 15:14] #1310 closed

[2019-12-18 15:19] elenatorro commented on #1348
I don't really like the idea of having `popup_click` and `popup_hover` (or `hover_popup and `click_popup`, which is the correct syntax) at a layer level. The main reason is that having them in under a same entity makes it easier to control the objects altogether

[2019-12-18 15:27] Jesus89 commented on #1348
IMO, after opening this discussion, it's what makes more sense to me from the semantic point of view, because popups= is not a list anymore, and viz.popups should be a class, but a better name for that class should be PopupsConfig, so my 2 cents to split them at the Layer level.

[2019-12-18 15:34] oleurud commented on #1369
With this change, the following:
[code]
will change to:
[code]

[2019-12-18 15:35] Jesus89 commented on #1331
:+1:

[2019-12-18 15:42] elenatorro commented on #1348
I get the idea that this is not a list anymore and agree with that, but again, in order to have control of both types of popup makes it difficult to control `popup` items as a group. I think that conceptually, it makes more sense to have click and hover popups in a same item through a single parameter.

Having said that, regarding implementation, this would require also a bit of extra time due to

[2019-12-18 15:44] elenatorro commented on #1348
Anyway, I'm ok with any solution, all of them same great to me. Having explained the technical issues, I think now the decision should be taken by Product, and once taken, we'll implement it.

[2019-12-18 15:50] Jesus89 commented on #1348
Yeah, since we have reviewed some times (:S) it would be nice to hear @cmongut and @andy-esch

[2019-12-18 15:52] makella commented on #1348
i like the simplicity of option 3 (from the non-dev perspective!) and for me it seems the "closest" to the current implementation where a user is familiar with defining hover and click events in the same entity as @elenatorro mentions! i am thinking of an alternative to the name `popup_item` since that's the only part that feels funny to me but nothing is coming to my mind yet

love the discussion

[2019-12-18 17:19] andy-esch opened #1390 "Missing space in VariableFilter where clause construction"
https://github.com/CartoDB/cartoframes/blob/e61ead03ee45af8651e5462ba95946e2cd0b0809/cartoframes/data/observatory/enrichment/enrichment_service.py#L329

If we add a space before the `AND` it _might_ take care of an error I get when trying to apply two VariableFilters:
[code]

Here's my code:

[code]

If I add spaces around the filter condition in the VariableFilter it works just fine but when I re

[2019-12-18 18:07] Jesus89 commented on #1386
Hi @oriolbx, thanks for the report.

Have you tried installing `geopandas` in Windows? And, what version of `Python` and `pip` are you using?

[2019-12-18 18:20] Jesus89 commented on #1382
Hi @ztephm. I am able to reproduce the bug :)

It seems that it occurs when 1 or 2  range values are used, but not with 3 or more.

![](https://user-images.githubusercontent.com/2227572/71112093-16093000-21cb-11ea-958e-63116dbfd204.png)

![](https://user-images.githubusercontent.com/2227572/71112105-1acde400-21cb-11ea-83a3-2fb832b914de.png)

This is the VL output:

[code]

I'll take a look tomorro

[2019-12-18 19:26] cmongut commented on #1348
Hi team, thanks for trying to find a better solution and sorry for giving feedback at this point.

Options 1 are 2 are broken because they accept a list of elements but that list can't contain more than 2 elements. (I suggested option 2 initially)

After talking with @alejandrohall, we were discussing options 3 and 4.

- Option 3 seems good but it's a bit strange to have a method here, what about

[2019-12-19 08:42] oriolbx opened #1392 "Developer Center missing reference and/or examples sections for versions 0.10, b01 and b02"
The documentation of the Developer Center allows you to select the documentation of CARTOframes  version that you want to see.

However, for versions 0.10, 1.0b1 and 1.0b2 the documentation doesn't have the Reference or the Examples sections that are located at the [Readthedocs](https://cartoframes.readthedocs.io/en/v0.10.1/overview.html) (which was the old documentation):

![Screenshot 2019-12-19

[2019-12-19 08:59] elenatorro commented on #1348
Hi @cmongut thanks for taking a look.

Actually, one of the main purposes of this task is to remove the dict, so we're not reverting that: we should avoid dicts for convention

[2019-12-19 09:10] oriolbx commented on #1386
I will try to install geopandas. I was using the latest pip version

[2019-12-19 09:36] Jesus89 commented on #1382
Hi @ztephm. I found and fixed two bugs:
- CartoColors: https://github.com/CartoDB/CartoColor/pull/43
- CARTO VL: https://github.com/CartoDB/carto-vl/pull/1419

This happens using 2 or fewer categories with PurpOr and CB_* palettes. The immediate solution is to use another palette different than PurpOr. In less than 1 week, CARTO VL will be released so this will be automatically fixed in CARTOframe

[2019-12-19 09:39] #1349 closed

[2019-12-19 10:47] oleurud opened #1393 "SUM aggregation using Points/Lines polygons"
This issue comes from this one https://github.com/CartoDB/data-observatory/issues/558#issuecomment-567152462 where the full problem with enrichment and different geographies types is described. the problem will be tackled in the future.

But we have something to solve now. Right now, the polygons enrichment query with SUM aggregation looks like:
[code]
With that, the problem happens when the DO ge

[2019-12-19 11:04] oleurud opened #1394 "Changing enrichment aggregation constant options by strings"
We 2 constants for `default` aggregation and without aggregation:

[code]

the second one baically is not used by the user because it is set by default:
[code]
I have received the same feedback from @arredond and @Jesus89: change the constants by strings:
[code]
Other option could be:
[code]
How do you see @cmongut ?

[2019-12-19 11:11] Jesus89 commented on #1394
I would allow 'NONE' too.

[2019-12-19 11:21] cmongut commented on #1348
Oki, we'll follow that convention then. I have been discussing some changes with @arredond for the option 4 as this one:

[code]

As this doesn't follow the naming convention as in legends and widgets, I would follow the option 4 as it was (with the naming change suggestion):

[code]

`popup_item` could be changed with `item`, `default_item`, etc. I don't know if we already have an element that do

[2019-12-19 11:50] elenatorro commented on #1348
I'd propose to go for `popup_element` which, by default now is a text element. In the future, the `popup_element` could be extended in order to accept other types as **links** and **images** 👍

[2019-12-19 11:59] oleurud commented on #1374
Also, it seems we have a bug there when using more than one filter, the query is malformed
[code]

It looks like there's a missing ` ` (space) before the `AND`

[2019-12-19 12:03] oleurud commented on #1295
:rocket:

[2019-12-19 12:03] #1295 closed

[2019-12-19 13:33] oriolbx commented on #1386
I get the same error using geopandas in windows:

<img width="482" alt="Screenshot 2019-12-19 at 14 31 02" src="https://user-images.githubusercontent.com/11177693/71177505-7a300080-226c-11ea-9959-039256f91259.png">

The exact pip version is 19.3.1. Python version 3.7

[2019-12-19 13:37] Jesus89 commented on #1386
OK, Thanks for the tests!

In that case, I think we should report the bug to both Shapely and Fiona.

Have you found this bug @andy-esch @arredond?

[2019-12-19 13:45] andy-esch commented on #1394
I like

[code]
To me that's the most pythonic. If it were me, I'd document those options and maybe silently accept `'none'`, etc.

[2019-12-19 13:49] oleurud commented on #1394
My vote is for:

[code]
without supporting others :)

[2019-12-19 13:57] andy-esch commented on #1394
I change my vote to what @oleurud says :)

[2019-12-19 14:00] cmongut commented on #1394
Let's do that then. I also prefer to not support others

[2019-12-19 14:14] Jesus89 commented on #1394
:+1:

[2019-12-19 15:31] arredond commented on #1386
I never ran into this 🤷‍♂

[2019-12-19 15:33] #1318 closed

[2019-12-19 15:38] #1155 closed

[2019-12-19 15:39] Jesus89 commented on #1331
Closed via https://github.com/CartoDB/cartoframes/pull/1391

[2019-12-19 15:39] #1331 closed

[2019-12-19 18:37] oleurud commented on #1246
I think we can solve this one and we will manage future errors (if any :) ) by specific issues

[2019-12-19 18:37] #1246 closed

[2019-12-19 18:53] oleurud commented on #1374
I realized we are not taking into account filters with several tables. When a user uses variables from 2 or more tables, we create a query for each table. In this case, we will try to apply every filter in every query (we're going to use variables that don't belong in those tables, not sure if in this case an error happens or not, but even without errors, if the a fitered column name appears in se

[2019-12-20 08:58] Jesus89 opened #1398 "v1.0 approach: pure functional vs subclass"
The goal of this ticket is to make a decision looking forward to the next stable release v1.0 in January. I prefer having this discussion open, instead of offline, to avoid starting every time a new member enters the debate. I think we have made good progress grouping all the possible approaches and we have improved a lot the library along the way, so this is the final cherry to complete the 1.0 c

[2019-12-20 09:31] alasarr commented on #1398
For me, it should be **pure functional** with theses improvements to remove the disadvantages:

[code]

What I propose is to have helper functions (in some cases just wrappers of GeoPandas) to reduce the impact of verbosity and the creation of geometries.

I'll be quite direct in the doc telling that the function is a wrapper (adding a link to pandas doc)

[2019-12-20 10:01] oleurud commented on #1398
My idea was to go with both approaches, checking in the future what works better for users. I think we are close to have both working at the same time, using one without knowing the other. For that, we would still need to do things:
- CartoDataFrame: we should add enrichment, geocoding, ... to the class
- functional: we should remove "empty" classes to be more functional like Enrichment, Geocode,

[2019-12-20 12:13] Jesus89 commented on #1287
This is duplicated, so we can close this one.

[2019-12-20 12:13] #1287 closed

[2019-12-20 12:21] Jesus89 commented on #1345
I would add only Step 4. Using the Style class adds duplicity and also implies to duplicate the functionality for each type. In Step 2, this should be done at the Layer level.

[2019-12-20 12:54] elenatorro commented on #1345
Yes, let's start doing first the style helpers 👍I think point 5 is also important (and 6 of course but that's implicit 😛)

[2019-12-20 13:37] #1347 closed

[2019-12-20 13:41] oleurud opened #1400 "Remove agg method in column and limit variables"
In enrichment, we are adding the aggregation method used to all the column results, but we want to add the aggregation method to the column names only in the case of custom aggregation has arrays (a variable is used several times). By now, the idea is to remove aggregation from column names.

- [x] remove agg in columns names

Also, we want to limit the variables number to 50.

- [x] limit agg var

[2019-12-20 13:55] Jesus89 opened #1401 "Add "subscribed but not ready" message"
From https://github.com/CartoDB/cartodb/pull/15315#issuecomment-567922122.

We need to add a message to show in the Download and Enrichment when the dataset/geography has been purchased, but it's not ready yet. We need to check the `instant-licensing` in the lib and another attribute (status:pending?) to detect that.

@cmongut could you help us with the content of the message?

[2019-12-20 14:01] Jesus89 commented on #1027
Closed via https://github.com/CartoDB/cartodb/pull/15336

[2019-12-20 14:01] #1027 closed

[2019-12-20 14:07] cmongut commented on #1401
I understand this shouldn't happen but let's a message just in case:
"We are sorry, the data is not available yet. Try again later or send us an email to support@carto.com to know the status."

[2019-12-20 14:48] elenatorro commented on #1350
Note: we're thinking about removing the layer helpers since having style helpers would be enough for what we want to accomplish

[2019-12-20 15:29] alasarr commented on #1398
After an internal meeting, we’ve finally decided to go with the **pure functional** approach and delay for one week the v1.0 of CARTOframes. @jorisvandenbossche please, could you take a look at the above approach to reduce the disadvantages and give us feedback?

[2019-12-20 16:29] Jesus89 commented on #1401
AFAIK the activation process is manually done. How long does it take on average?

This is an example of that situation:
[code]

[2019-12-20 16:31] Jesus89 commented on #1390
This could be solved with https://github.com/CartoDB/cartoframes/pull/1397.

cc @oleurud.

[2019-12-20 16:45] #1382 closed

[2019-12-20 17:09] cmongut commented on #1362
👋

Hi @andrewbt! I have tested the quickstart guide and I didn't hit the rate limit. It's true that I can hit it easily uploading several files.

We will reconsider the limits based on metrics and add a retry approach. We will create another issue for this.

Thank you for letting us know!

[2019-12-20 17:24] Jesus89 commented on #1361
Hi @andy-esch. This `dataset.geom_coverage()` works OK. The documentation you are pointing is referring to the `geography` instance and it's true that there is a bug in the docstring.

[2019-12-23 07:51] oleurud commented on #1400
:rocket:

[2019-12-23 07:51] #1400 closed

[2019-12-23 07:51] oleurud commented on #1394
:rocket:

[2019-12-23 07:51] #1394 closed

[2019-12-23 08:22] #1348 closed

[2019-12-23 08:31] #1361 closed

[2019-12-23 08:40] oleurud commented on #1294
Same thing happens to filters. We should support list there too.

[2019-12-23 08:43] oleurud opened #1406 "Support array in filters"
Same as https://github.com/CartoDB/cartoframes/issues/1294 but with filters parameter. A user could want to filter the same variable by different values: for example greater than X and less than Y.

- [x] support array in filters

[2019-12-23 08:50] #1369 closed

[2019-12-23 08:58] cmongut commented on #1362
Closing this and defining them here: [CartoDB/cartodb-platform/issues/5946](https://github.com/CartoDB/cartodb-platform/issues/5946)

[2019-12-23 08:58] #1362 closed

[2019-12-23 09:36] Jesus89 commented on #1401
As we talked with @cmongut this is not a priority now.

[2019-12-23 10:05] Jesus89 commented on #1373
This is already fixed, right @elenatorro?

[2019-12-23 10:14] oleurud commented on #1365
The objective is to ensure the behavior of enrichment functions, taking into account:
- public and private data
- points and polygons
- dataframe (+ geom column) and geoDataframe as inputs
- aggregation:
  - default
  - none
  - custom for all
  - custom by variable
- filters

The idea is to make enrichment/download of a few rows.

So, the list of tests:
- [ ] points enrichment
  - [ ] public data

[2019-12-23 10:24] elenatorro commented on #1373
It was fixed by backend since it wasn't a front issue 👍

[2019-12-23 10:24] #1373 closed

[2019-12-23 15:03] oleurud commented on #1374
:rocket:

[2019-12-23 15:03] #1374 closed

[2019-12-23 17:07] oleurud commented on #1390
:rocket: It should be solved. Take into account https://github.com/CartoDB/cartoframes/issues/1406

[2019-12-23 17:09] arredond commented on #1398
I agree on the functional approach and, while I think it'd be nice to have methods instead of some functions (such as `df.to_carto`), we can always register these later, via an accessor or using [Pandas-flavor](https://zsailer.github.io/software/pandas-flavor/), as @jorisvandenbossche suggested

[2019-12-24 07:57] oleurud commented on #1368
:rocket:

[2019-12-24 07:57] #1368 closed

[2019-12-24 08:15] Jesus89 commented on #1398
OK, let's go with this approach. It's the most conservative one, so we can explore and incrementally extend the integration with pandas/geopandas in future releases.

Regarding the changes and the final API. Although wrapping the pandas/geopandas functions could be useful in some situations I would try to avoid doing this and keep pure pandas/geopandas functions whenever possible. Otherwise, we ne

[2019-12-24 08:28] oriolbx commented on #921
### Mode

So far I've been able to install CARTOframes within Mode Notebook and create two maps with category widget, legend and popups

[2019-12-24 09:23] Jesus89 commented on #1260
Closing this because we are going to implement a functional approach for this release.

[2019-12-24 09:23] #1260 closed

[2019-12-24 13:56] #1350 closed

[2019-12-24 13:56] #1345 closed

[2019-12-24 15:23] oriolbx opened #1412 "Time-series widget filter doesn't apply selection"
* It might be related to this issue: https://github.com/CartoDB/cartoframes/issues/1359
* Tested in beta7 and develop version.
* Reproduces in [this example](https://carto.com/developers/cartoframes/examples/#example-visualize-temperatures)

When running the animation the map has the next geometries for the first buckets of the time-series widget:

<img width="963" alt="Screenshot 2019-12-24 at 16

[2019-12-24 15:57] cmongut opened #1413 "Handle dataset price in subscription flow"
There are going to be situations where we are not sure about the final price of a dataset.
For that reason, we need to show another subscription message in that case:

**Subscription message**
<h3>Data request</h3>
You are about to request the {type} <b>{id}</b>.
<br>Do you want to proceed?

**Confirmation message**
Thanks! We will contact you shortly to complete the subscription details.

[2019-12-24 16:18] cmongut commented on #1377
It's already fixed

[2019-12-24 16:18] #1377 closed

[2019-12-24 16:20] cmongut commented on #1379
It was already fixed :)

[2019-12-24 16:20] #1379 closed

[2019-12-25 22:01] alasarr commented on #1398
Sounds good to me

[2019-12-26 13:36] alrocar commented on #1333
I've been looking into this issue. It seems Medium uses a third party service to embed anything.

For the case of Kuviz it's doing a request to this service:

[code]

There are two parameters `url` and `src` with different values. The error 500 comes because in the end the `iframe` in medium is created with the `src` value, instead of `url` which is the correct one.

I don't know from where it com

[2019-12-26 14:39] oleurud commented on #1248
Catalog has 4 filters:
- country
- category
- geography
- provider

And it has 4 entity list methods:
- countries
- categories
- datasets
- geographies

If we want to support all the cases (every entity list supporting every filter) we will need to add more, but at least, I think we should support:
[code]

[2019-12-27 11:39] oriolbx opened #1416 "to_carto method doesn't cartodbfy the uploaded data"
* Test with develop version

When uploading a pandas dataframe without geometry into CARTO using the to_carto() method, CARTO uploads the data but it doesn't cartodbfy the table.

<img width="693" alt="Screenshot 2019-12-27 at 12 34 29" src="https://user-images.githubusercontent.com/11177693/71515767-7112e500-28a5-11ea-9a3a-e15368941b1e.png">

According to the result of the to_carto() method, the

[2019-12-27 13:08] oriolbx opened #1417 "Improve SQLClient documentation for create_table and insert_table methods"
The methods create_table and insert_table the SQLClient documentation are defined as:

<img width="742" alt="Screenshot 2019-12-27 at 13 59 31" src="https://user-images.githubusercontent.com/11177693/71518136-aae9e880-28b1-11ea-9dbf-f87138b266db.png">

<img width="387" alt="Screenshot 2019-12-27 at 14 00 27" src="https://user-images.githubusercontent.com/11177693/71518141-af160600-28b1-11ea-9591-5

[2019-12-27 14:38] andy-esch commented on #1386
Same, I haven't seen this one

[2019-12-30 08:31] Jesus89 commented on #1398
OK, let's go with the simplest approach and then we can incrementally add "utility" methods if required.

[2019-12-30 08:32] Jesus89 opened #1418 "Refactor to functional approach"
From https://github.com/CartoDB/cartoframes/issues/1398.

- [x] Add `cartoframes.utils.decode_geometry`
- [x] Return a GeoDataFrame in every method
- [x] Update reference
- [x] Update examples
- [x] Update guides

[2019-12-30 08:32] #1398 closed

[2019-12-30 08:32] Jesus89 commented on #1343
Closing via https://github.com/CartoDB/cartoframes/pull/1399

[2019-12-30 08:32] #1343 closed

[2019-12-30 09:18] Jesus89 opened #1419 "Update docs - review"
Review documentation for RC1

- [ ] Guides
- [ ] Reference
- [ ] Examples

[2019-12-30 11:01] Jesus89 commented on #1248
Closed via https://github.com/CartoDB/cartoframes/pull/1415

[2019-12-30 11:01] #1248 closed

[2019-12-30 13:48] Jesus89 commented on #1392
This is expected because those sections were added after the 1.0b3. Closing this.

[2019-12-30 13:48] #1392 closed

[2019-12-30 13:50] Jesus89 commented on #1386
Since it's a bug related to CARTOframes dependencies, we can close this ticket open new tickets in shapely / fiona repositories.

[2019-12-30 14:23] Jesus89 commented on #1417
I will tackle this in https://github.com/CartoDB/cartoframes/pull/1409

[2019-12-30 15:29] Jesus89 opened #1422 "Fix click_popup=True option"
Now, style helpers do not contain info about the default click popup. This should be fixed to allow users to enable click_popup by default.

[2019-12-30 15:31] Jesus89 commented on #1413
Cool. Which is the condition to render this message? price == null?

[2019-12-30 15:38] Jesus89 commented on #1416
Yes, by default it does not cartodbfy the data if there is no geometry column. You can pass to the `to_carto` method the param `force_cartodbfy=Trye` to force cartodbfy the table.

Eventually, we should be able to show non-cartodbfied datasets in the Dashboard.

Do you think we should have the opposite behavior? Cartodbfy always and pass a flag to force not to cartodbfy?

[2019-12-30 16:08] oriolbx commented on #1416
@Jesus89 To me it makes more sense to cartodbfy by default and let the user decide if it doesn't want to cartodbfy the table.  (Maybe once we can show the non-cartodbfied datasets in the Dashboard, we could change this default behaviour)

Otherwise, it's confusing because as a user I would expect to see the uploaded data as a dataset on the dashboard.

Also, and this is more documentation related,

[2019-12-30 16:28] cmongut commented on #1413
Yeap!

[2019-12-30 16:33] cmongut commented on #1416
Nice one @oriolbx, your approach seems the way to go

[2019-12-30 17:20] gonzaloriestra commented on #1333
As @alrocar said, the problem comes from [embed.ly](embed.ly).

They have an API to extract information from an URL, and they are returning the wrong `src`:
https://embed.ly/docs/explore/extract?url=https://public.carto.com/kuviz/f8dcf0ef-45e5-4578-a245-af443c870ffa

I guess they have a rule to convert the CARTO URLs to `/embed_map`, and that doesn't work for kuviz.

There's no quick workaround be

[2019-12-30 17:31] cmongut opened #1423 "Enrich polygons doc reference is not being displayed"
@andy-esch found this issue and suggested is due to being wrapped by `@timelogger`

![image](https://user-images.githubusercontent.com/711025/71592996-851f4680-2b32-11ea-99c5-15de8ddcfdc0.png)

[2019-12-30 18:59] Jesus89 commented on #1416
OK, it makes sense until we have non-cartodbfied datasets. The param `no_cartodbfy=True` sounds good to you?

[2019-12-30 19:14] Jesus89 commented on #1423
Solved in https://github.com/CartoDB/cartoframes/pull/1409

[2019-12-31 08:39] cmongut opened #1427 "Contribute link on the dev center page is broken"
![image](https://user-images.githubusercontent.com/711025/71592663-5ce31800-2b31-11ea-8e56-e095498046c8.png)

This link goes to https://carto.com/developers/cartoframes/support/contribute/ when it should go to https://github.com/CartoDB/cartoframes

[2019-12-31 08:46] Jesus89 commented on #1427
The URL is fixed to /support/contribute for every project, so the solution is to add a `/support/contribute` section in our docs, like https://carto.com/developers/carto-js/support/contribute/ or https://carto.com/developers/carto-vl/support/contribute/.

[2019-12-31 09:10] gonzaloriestra commented on #1333
Fixed with the redirection.

[2019-12-31 09:10] #1333 closed

[2019-12-31 10:04] #1422 closed

[2019-12-31 11:43] #1416 closed

[2019-12-31 13:53] oriolbx opened #1429 "Error: Cannot import name Legend from cartoframes.viz"
* Using develop version of CARTOframes

When importing the Legend class from cartoframes.viz, an error is returned:

[code]

<img width="1126" alt="Screenshot 2019-12-31 at 14 52 00" src="https://user-images.githubusercontent.com/11177693/71623470-21058c80-2bdd-11ea-8077-3399768b2790.png">

[2019-12-31 13:55] oriolbx commented on #1429
I can't import the Popup class neither

<img width="1128" alt="Screenshot 2019-12-31 at 14 55 23" src="https://user-images.githubusercontent.com/11177693/71623538-98d3b700-2bdd-11ea-9e6c-624507bb401a.png">

[2019-12-31 14:00] oriolbx commented on #1429
And same with the helpers module:

<img width="1116" alt="Screenshot 2019-12-31 at 14 59 24" src="https://user-images.githubusercontent.com/11177693/71623612-329b6400-2bde-11ea-9552-169f6193cf03.png">

[2019-12-31 14:13] Jesus89 commented on #1363
Done here: https://github.com/CartoDB/cartoframes/pull/1420/commits/70e31cc49e75b590f2204aa00ca25734387a535c as part of https://github.com/CartoDB/cartoframes/pull/1420.

[2019-12-31 14:19] #1413 closed

[2019-12-31 14:27] #1429 closed

[2019-12-31 14:47] cmongut opened #1430 "Add defaults to visualization API"
After a short conversation with data scientists, let's try to add some default params to the Layer class as we had in helpers:
- Add `title` and use it in the legend and popups
- Add `description` and use it in the legend
- Add `footer` and use it in the legend
- Bring helper default titles to widgets (Categories, Distribution, etc)
- Try to add default_legend and default_widget components so the

[2019-12-31 17:04] cmongut opened #1431 "Formula widget should display 0 when there are no points in the bounding box"
![widget_bounding_box_issue](https://user-images.githubusercontent.com/711025/71628369-df360f80-2bf7-11ea-9276-9bcb16d1187a.gif)

It may happen with other widgets too.

[2020-01-02 09:34] alasarr commented on #1393
I'd set the area normalization as a parameter. By default, I think it should be enabled, but users could decide if they want to remove it.

When the area is 0 (points) we should just return the exception.

Thoughts @arredond @cmongut?

[2020-01-02 14:18] oriolbx opened #1433 "Error when using multiple category widgets with a GeoDataFrame/CartoDataFrame"
* Tested in beta 7 and develop versions of CARTOframes
* GeoDataFrame/CartoDataframe with a shape of (3649, 9) and point geometries

When creating a map from a GeoDataFrame or CartoDataFrame with two category widgets, the map gets stuck and never renders the geometries or widget data.

[code]

However, this is not happening when using only 1 category widget or using a CARTO dataset as the source o

[2020-01-03 07:57] rafatower opened #1434 "Client for analysis dataset creation"
Add client code for dataset creation endpoint:
[code]

See https://github.com/CartoDB/data-observatory/issues/592 and [API DO v1.0](https://docs.google.com/document/d/1BSBXwqGlPqRpVoE7n8O75a7c76_xd6I0lqXQ9caNNS0/edit?ts=5df8df45&pli=1#heading=h.sw11h08j2j4k)

As part of it, it shall deal with api key management (like other CF's components).

Note namespacing and class name are probably to be chang

[2020-01-03 08:16] rafatower opened #1435 "Client for analysis datasets stream upload"
Add client code for stream upload of datasets for analysis and enrichment:

- File upload (streaming):
[code]

- Import job (batch):
[code]

- One-step-call:
This would combine the streaming upload, and the import job in one blocking call, but underneath would use the methods above:
[code]

See [DO API v1.0, Upload](https://docs.google.com/document/d/1BSBXwqGlPqRpVoE7n8O75a7c76_xd6I0lqXQ9caNNS0/ed

[2020-01-03 08:30] rafatower opened #1436 "Client for stream download of analysis datasets"
Add client code for stream downloading of datasets from analysis/enrichment
[code]

(there should probably be also a wrapper to stream to a CSV file on disk).

See [DO API v1.0, Download](https://docs.google.com/document/d/1BSBXwqGlPqRpVoE7n8O75a7c76_xd6I0lqXQ9caNNS0/edit?ts=5df8df45&pli=1#heading=h.5oa4x6bohn3h) and https://github.com/CartoDB/data-observatory/issues/594

[2020-01-03 09:05] alasarr commented on #1163
@andy-esch could you share the script?

[2020-01-03 13:25] elenatorro commented on #1358
After some research, I think there're two ways of solving this issue. To bring some context, the problem we're facing here is that when using a DataFrame, it converts the data to a GeoJSON source, and therefore we're not detecting which columns are dates. The CARTO VL way of doing this is by setting as source options which columns have date format, for instance:

[code]

**Option 1:**

The first o

[2020-01-03 16:32] makella commented on #1358
after speaking with @elenatorro i think that option 2 makes the most sense since it is using a built-in dataframe conversion method

[2020-01-03 16:34] andy-esch opened #1437 "Dataset does not exist when importing `tables` from `cartoframes.utils.table`"
It looks like `Dataset` wasn't removed/renamed in:
https://github.com/CartoDB/cartoframes/blob/v1.0b7/cartoframes/utils/table.py

This causes an import error:

[code]

When doing this:
[code]

cc @djfan

[2020-01-03 16:48] elenatorro opened #1438 "Allow disabling base64 encoding"
Context
======

We're using base64 encoding system to encode and decode the Dataframes into GeoJSON format for local visualizations. This is really useful, specially when sharing the notebooks, cause the size of the generated visualizations decreases significantly due to the resulting GeoJSON can be very huge.

However, base64 has some limits. We've found a case where the visualization is not disp

[2020-01-03 17:54] connerpate opened #1439 "Color_continuous_layer does not support range_min and range_max"
This documentation suggests there is a way to manually define the max and min values for a continuous range:
https://carto.com/developers/cartoframes/reference/#cartoframes-viz-Style

![image](https://user-images.githubusercontent.com/21110478/71739609-ee030900-2e27-11ea-9954-1637903cab70.png)

However, when I try it in my code, I get this error:
_TypeError: color_continuous_layer() got an unexpec

[2020-01-03 17:55] elenatorro opened #1440 "Add info about EPSG=4326 to the documentation"
Related issue https://github.com/CartoDB/cartoframes/issues/1274

Context
======
This issue has been opened for a while: [Visualizing dataframe with non-EPSG:4326 CRS is failing silently](https://github.com/CartoDB/cartoframes/issues/1274) and for the current release we'll need to add this information in the documentation to let the users know, at least while it's not solved.

[2020-01-03 17:57] andy-esch commented on #1163
Yes, just left a big comment here about it: https://github.com/CartoDB/data-observatory/issues/442#issuecomment-570647587

So far, the script runs like so:
[code]

And prints results to a file. It gives each dataset a pass/fail, with messages for each of the tests on why it failed if it fails.

[2020-01-06 17:43] makella commented on #1439
hi @connerpate! can you tell us what version you are using? the range min/max parameters are available with versions `v1.0b5` and later. thanks!

[2020-01-06 18:06] makella opened #1441 "Opacity overwritten with `basic_style` when filtering with widgets"
using the following, opacity sets back to 1 when filtering with widgets. I am only noticing this behavior with **`basic_style`**

[code]

Result:

![opacity](https://user-images.githubusercontent.com/1566273/71837799-8261ab80-3074-11ea-9ceb-5115afb1c242.gif)

[2020-01-06 21:18] makella opened #1442 "Update legend properties"
We need to update legend properties for stroke color and width. Currently, they are set to `stroke-color` and `stroke-width` respectively so if you set to `prop=stroke_color` and/or `prop=stroke_width` you get an error as not valid.

Example:
[code]

returns error:
[code]

[2020-01-06 21:56] makella opened #1443 "Add back legend subtypes"
For discussion @elenatorro @Jesus89

Previously, we gave users the option to use legend subtypes and with the new refactor, that option no longer is available.

I think this is really useful for different map types, and gives users the same flexibility as they had before and is in the same category as allowing a user to use a different legend _type_ completely (for example, using a color_continuou

[2020-01-06 22:23] makella opened #1444 "Legends: small sizes and irregular shapes"
@elenatorro @Jesus89 for discussion.

I've been doing some testing, and it looks like until point sizes are set to `7` that the rendering of them in the point legends is either unreadable (too small) or not circular. I'm wondering if there is a way for us to set a default minimum point size for legends to avoid this issue... when there is a lot of data on the map, naturally, users will symbolize w

[2020-01-06 22:24] makella commented on #1443
related: https://github.com/CartoDB/cartoframes/issues/1444

[2020-01-07 08:39] elenatorro commented on #1444
Thanks for reporting this! This should be solved in Airship and maybe can be done by RT, I'll do a bit of research to open the issues accordingly 👍

[2020-01-07 08:48] elenatorro commented on #1443
I like this idea of being able to change the legend type 👍

On one hand, I'd use a different way of identifying the legend type, cause in this case I think it's confusing to use a 'polygon' legend type in a point layer.

On the other hand, I know that this is what we're using as a layer type in Airship, and I don't know if we should keep using the same pattern for 'consistency'

[2020-01-07 09:58] #1427 closed

[2020-01-07 13:18] oleurud commented on #1365
:rocket:

[2020-01-07 13:18] #1365 closed

[2020-01-07 15:06] makella commented on #1441
cc @elenatorro

[2020-01-07 15:26] makella commented on #1443
@elenatorro good point! i'll do some looking around and think about different descriptive words for legends that isn't tied to geometry

[2020-01-07 16:00] makella opened #1446 "Change 'ranges' back to 'size'"
@elenatorro as discussed, let's definitely change `ranges` back to `size` to keep consistency between styles and from previous versions for:
- [x] size_continuous_style
- [x] size_category_style
- [x] size_bins_style

thanks!!

[2020-01-07 16:09] makella commented on #1430
Just want to comment here too with my two cents :)

Since a style **packages** a Legend, Popup and the option for a Widget, I feel like we should have those parameters in the style, not Layer. If you overwrite with custom Legend, Popup, etc. we will ignore, but since these are in essence part of the default you get _with a style_ I feel that you should be able to assign the titles, descriptions, f

[2020-01-07 16:49] cmongut commented on #1430
I see your point but `title`, `description` and `footer` don't seem style params but content ones.

[2020-01-07 16:55] makella commented on #1430
but they are packaged with a style... it is like changing the color or size of points in my opinion! and directly tied to the styling on the map!

[2020-01-07 16:58] makella commented on #1430
the other thing we could discuss then is only providing a legend with a style and at a minimum being able to modify the title, description, footer removing the options for widgets and popups. what if someone just wants to use helpers like they were originally meant? to quickly create a map and be able to publish... a legend is a key piece of that more than popups and widgets IMO

[2020-01-07 17:46] #1441 closed

[2020-01-07 18:55] makella commented on #927
closing as we've added! woot!

[2020-01-07 18:55] #927 closed

[2020-01-07 18:57] makella commented on #1121
closing as we've implemented a way to overcome!

[2020-01-07 18:57] #1121 closed

[2020-01-07 18:58] makella commented on #909
closing as this is now possible

[2020-01-07 18:58] #909 closed

[2020-01-07 19:01] makella commented on #1059
closing since we've addressed with latest updates!

[2020-01-07 19:01] #1059 closed

[2020-01-08 08:46] #1446 closed

[2020-01-08 09:00] Jesus89 commented on #1446
For me, this is a bit confusing, because:
- We are using size as width in the color helpers
- Size is singular and people expect a number, not a list of number

[2020-01-08 09:18] elenatorro commented on #1446
* About `size` vs `width`:

    We've discussed this many times in the past. `width` is what we were using in VL, but we're using `size` cause it's common in other libraries and technologies and what users expect. It's not the same than `stroke_width` (which is `stroke_width` by convention). So `size` is the correct world 👍

* About singular vs plural:

    Size doesn't need to be plural, IMO it's

[2020-01-08 09:39] Jesus89 commented on #1446
Yeap, my only concern is that we are using `size` for two different things depending on the helpers, and this could be confusing:
- color_bins_style(..., size=10, ...), color_category_style(..., size=10, ...),  color_continuous_style(..., size=10, ...)
- size_bins_style(..., size=[2,4], ...), size_category_style(..., size=[2,4], ...),  size_continuous_style(..., size=[2,4], ...)

[2020-01-08 09:43] oleurud opened #1449 "DeadlineExceeded: 504 Deadline Exceeded"
A user reported us an error in a dataset download:
[code]

It seems an error from BigQuery which is returned when:
- using the BigQuery Storage API and
- a timeout happens: query timeout? connection timeout? another timeout? not sure, they talk about query timeout but it makes no sense for me (I need to investigate it more)

The solution for it would be setting the `timeout` parameter of the `read

[2020-01-08 09:51] elenatorro commented on #1446
Yes, I agree it's a possibility, but it's also to have different names for the same concept (size). I don't have any strong opinion, maybe we should ask some users. What's important is to have it well documented and with clear examples 👍

[2020-01-08 10:01] cmongut commented on #1446
👍

We will check it today. What were we using before? In `size_continuous_layer` we had `range_max` and `range_min`, isn't it?

[2020-01-08 10:06] elenatorro commented on #1446
Yes, and it was also a bit inconsistent 🤔 maybe we can talk about this in today's viz meeting and make a decision (it's very easy and fast to change), what do you think? :)

[2020-01-08 10:31] cmongut opened #1451 "Allow to update a published map"
As a user I want to update a published map so I don't generate a new one every time I call publish.

One approach that can work, after discussing with a data scientist, would be to use the same API we have for datasets.

`map.publish('map_name', if_exists='replace', password=None)`

Thoughts @andy-esch, @oleurud?

[2020-01-08 11:48] cmongut commented on #1446
Oki, let's do that. Comments from a data scientist:

- `size_range` could work
- `range` is not intuitive
- `size` doesn't seem a range. It may let you think you have to pass a variable that gives you the size
- between `range` and `size` I would prefer to use range

I'll try to get more inputs

[2020-01-08 12:35] #1029 closed

[2020-01-08 12:36] #1423 closed

[2020-01-08 12:36] Jesus89 commented on #1417
Solved in #1409.

[2020-01-08 12:36] #1417 closed

[2020-01-08 14:17] cmongut commented on #1446
+1 for `size_range`

Another data scientist brought the same param name to the table.

[2020-01-08 14:25] connerpate commented on #1439
Hi Mamata,
Looks like it was my error, I got it working using v1.0b6 when I had been using b3 before. Thank you.
Best,
Conner

Sent from my iPhone

[2020-01-08 16:38] makella commented on #1439
great!!

[2020-01-08 16:38] #1439 closed

[2020-01-08 17:05] elenatorro commented on #1358
Fixed!

[2020-01-08 17:05] #1358 closed

[2020-01-08 17:36] #1363 closed

[2020-01-08 17:36] #1418 closed

[2020-01-08 17:52] arredond commented on #1393
I agree @alasarr

[2020-01-08 18:30] #1294 closed

[2020-01-08 18:30] #1406 closed

[2020-01-08 20:11] alasarr opened #1454 "Dataset subscription is not performed"
I've tried to subscribe to a dataset, the workflow doesn't throw any error but the subscription is not actually done.

![image](https://user-images.githubusercontent.com/1161870/72011837-f2318b00-325a-11ea-9d02-8ef5d45b6c70.png)

[2020-01-08 20:15] alasarr commented on #1454
It happens with the account `alasarr` that belongs to `geographica` organization. With a team account it works fine.

cc: @gonzaloriestra

[2020-01-08 20:27] gonzaloriestra commented on #1454
Instant licensing was disabled for that user, so it's the expected behavior
(regular licensing + 3 delivery days). It's enabled now.

El mié., 8 ene. 2020 21:15, Alberto Asuero <notifications@github.com>
escribió:

[2020-01-08 20:42] jdgodchaux commented on #1358
Hi @elenatorro !! Awesome job! I have a client who ran into this issue and want to let them know this has been solved, but want to set expectations appropriately. Will this be update in the next CARTOframes release?

[2020-01-08 20:54] alasarr commented on #1454
Yeah! I've received the email.

[2020-01-08 20:54] #1454 closed

[2020-01-08 20:58] Jesus89 commented on #1358
Hi @jdgodchaux. Yes, this will be included in the next release (on Friday).

[2020-01-08 21:15] jdgodchaux commented on #1358
Awesome thank you @Jesus89 !!

[2020-01-09 08:42] elenatorro commented on #1442
Merged 🚀

[2020-01-09 08:42] #1442 closed

[2020-01-09 09:53] Jesus89 opened #1456 "Fix hover+click popup behavior"
Hover popup and click popup work well separated, but when they are enabled at the same time the result is `hover + click= hover` because it seems that they are using the same instance. We should fix this to allow using both popups at the same time. Also, popup "click" should contain the X button to close it.

[2020-01-09 11:00] Jesus89 commented on #1163
Is this already done? Can we close this ticket?

[2020-01-09 11:08] oleurud commented on #1451
Right now, we have a `publish` and an `update_publication` methods:
- publish: always creates a new custom visualization
- update: update an existing one (without changing other things like api key for example)

You can see them in action:

![image](https://user-images.githubusercontent.com/421145/72062060-56923000-32d7-11ea-9a1c-9d83ee45b356.png)

So, going to the problem, if I understand it well

[2020-01-09 11:22] ramiroaznar commented on #1359
Hey @elenatorro, checking on the blogpost map it does not seem the issue is fixed.

[2020-01-09 11:24] elenatorro commented on #1359
This issue was closed automatically after the merge, sorry. The solution will be included in the next Airship release.

[2020-01-09 11:39] cmongut commented on #1451
Yeap, the idea is that publish can update an existing publication

[2020-01-09 12:03] ilbambino opened #1457 "Gather usage metrics"
From product perspective we would like to understand how users are using CartoFrames. In order to be able to do it, we would like to instrument the package with some metrics. There are some important points to take into account regarding the metrics:

- There should not collect any of the data users are analysing with CartoFrames
- It should be possible to disable them (if the user decides it so)

[2020-01-09 12:21] oleurud commented on #1451
Ok, so the solution could be the following one.

In any case:
**CARTOframes**:
- add a new parameter `if_exists` in `publish` method with 2 options:
  - `fail` (default)
  - `replace`

**cartodb**
- return an error when a user tries to create a kuviz with a name already used by herself. I see 2 possible solutions:
  - adding a partial unique index: this would be my option if we were from scratch,

[2020-01-09 14:56] #1456 closed

[2020-01-09 15:45] oleurud commented on #1451
We are going to go with the option 2 (we already have duplicated, several duplicated).

Another important thing or pain: a user has several kuviz with the same name and tries to update one of them without changing the name. In this case, we have 2 options:
- fail: name already in use (even if the user is not updating the name)
- work (we would need to add a very ugly condition in backend).

My vot

[2020-01-09 17:11] elenatorro commented on #1359
Opened issue for RT in the blog repo https://github.com/CartoDB/cartoframes/issues/1359

[2020-01-09 20:50] connerpate opened #1460 "Export a vector-based image from a notebook"
I'm using cartoframes in a Google Colab notebook to plot geodata. What I would _like_ to be doing with these maps is exporting them as static, high-quality images (preferably .eps or .svg) to be used in design software like Adobe Illustrator. Is there a way to make this happen?

Ideally, I'm looking for in-line export functionality, like Plotly's "_fig.write_image(file_name)_" that I can use to se

[2020-01-09 22:06] Jesus89 commented on #1437
This file is not used anymore so we can remove it.

[2020-01-10 08:35] #1437 closed

[2020-01-10 10:06] oleurud commented on #1451
Since we are not going to change data from clients, the option of adding a unique index (partial index: when type is Kuviz) is not feasible. We could add it taking into account the date (the partial index would be type = 'kuviz' and created_at > '2020-01-10'::timestamp), but in any case, we should still check for duplicates by code and thinking about it as an array of possible values. So, my idea

[2020-01-10 10:08] #1430 closed

[2020-01-10 10:37] #1217 closed

[2020-01-10 11:09] cmongut commented on #1451
👍

We should clean them because the user has said to replace them explicitly.

[2020-01-10 11:48] josemazo opened #1463 "pytest-mock missing in test dependencies"
Executing the tests raises an error saying the `mocker` fixture is missing.

The `EXTRAS_REQUIRES_TESTS` constant list variable is missing the `pytest-mock` package.

A PR is comming.

[2020-01-10 11:51] josemazo opened #1464 "Makefile usage and its problem with the test entry"
Running the tests using `make` raises a couple of errors:
- `nose` isn't installed
- The tests directory is `tests/`, instead of `test/`

We should fix this couple of things, or maybe discuss the utilization of `Makefile` for this case or its deprecation.

[2020-01-10 11:55] josemazo commented on #1463
PR #1465

[2020-01-10 12:06] Jesus89 commented on #1464
We only use the Makefile to create the HTML docs. Maybe we can clean it up a bit.

[2020-01-10 12:31] josemazo opened #1466 "Strange error when setting a wrong username"
Really this is a problem that comes from `carto-python`, or even from `pyrestcli`, but it returns a confusing error, even for experienced developers. So maybe, we should forget it, but let's document it.

If you set a wrong username in the credentials, the returned error is a `NotFoundException` with a huge HTML document.

[code]

The realised exceptions message starts with:
[code]

[2020-01-10 12:37] #1463 closed

[2020-01-10 12:41] Jesus89 commented on #1466
Good catch. Maybe we can filter the exception `NotFoundException` form CF when using `carto-python` client calls and raise a better exception.

[2020-01-10 12:50] Jesus89 commented on #1466
However, this should be fixed in `carto-python` or `pyrescli` because otherwise, the Traceback will contain the 404 HTML page.

[2020-01-10 14:32] andy-esch commented on #1437
Is there similar functionality elsewhere?

[2020-01-10 14:48] Jesus89 commented on #1437
I don't think so. We can add a new function in io/ to list all tables in an account. Could you add a ticket for the feature request? Thanks!

[2020-01-10 17:12] #1419 closed

[2020-01-10 17:13] Jesus89 commented on #1419
Done in https://github.com/CartoDB/cartoframes/pull/1468

[2020-01-10 20:36] andy-esch opened #1469 "Feature Request: DO downloads should include sample option"
DO Dataset downloads can be pretty big and oftentimes people don't want the whole thing. Here's an example:
<img width="687" alt="Screen Shot 2020-01-10 at 3 33 19 PM" src="https://user-images.githubusercontent.com/1041056/72184544-a566c500-33be-11ea-8095-b52b1de79d64.png">

To enable this, it'd be great to add filters and sampling options, like this:

[code]

Going further, it'd be really wonderf

[2020-01-12 22:19] cmongut opened #1470 "Add notification message in readthedocs to bring users to the developer center"
The developer center is where the documentation will be updated. We need to show a warning message to readthedocs users to let them know about this.

Warning message suggestion: “To get the latest documentation, check CARTO’s developer center. You will be able to check guides, the reference and examples.”

Where to place it: at the top of every page if possible

[2020-01-12 22:22] cmongut opened #1471 "Manage kuviz quota in CARTOframes"
There is a [PR](https://github.com/CartoDB/cartodb/pull/15367) to make kuviz maps count in the plan limits.

Right now, testing that PR, we are showing an error with an ‘Access denied’ message. We should show a message like this one instead: “You have reached the limit for the number of maps you can create with your account. Upgrade your account or delete some of your previous maps to be able to c

[2020-01-12 22:27] cmongut opened #1472 "Update copies in developer center"
**Overview**

- [x] Replace Introduction text

- [x] Replace reference example code

[code]

**Guides**

- [x] Replace introduction text --> Fixed in #1479

- [x] Replace `visualization layers` term with `visualization styles` --> Fixed in #1479

**Examples**
--> Moved to https://github.com/CartoDB/cartoframes/issues/1473

- ~~[ ] In the `Load data from CARTO Table` example, add tip about visualiz

[2020-01-12 22:32] cmongut opened #1473 "Review examples"
Current status: [http://cartoframes-generate-guides-as-md.developers.carto-staging.com/developers/cartoframes/examples](http://cartoframes-generate-guides-as-md.developers.carto-staging.com/developers/cartoframes/examples)

- [x] Add introduction page for each example section
- [x] Move visualization examples to the same section https://github.com/CartoDB/cartoframes/issues/1475
- [x] Add descript

[2020-01-12 22:35] cmongut opened #1474 "Function at the documentation reference should be shareable"
As a customer facing team member, I want to be able to share links to a specific part of the reference.

[2020-01-12 22:39] cmongut opened #1475 "Add visualization section in the developer center examples"
Right now, it's hard to say when the visualization section starts or finishes. Let's see if we can find an easy way to add a section for it.

![image](https://user-images.githubusercontent.com/711025/72226727-7e61ec00-3594-11ea-8a87-f573a04c95f1.png)

[2020-01-12 22:49] cmongut opened #1476 "Prevent creating an API key every time a user publishes a map without API key"
Right now, a custom API key is needed to publish a map. The issue is that we are creating a new one every time a user publishes a map (without providing an API key), even though the map is using the same datasets.

Could you think about a solution to prevent this?

[2020-01-13 10:01] Jesus89 commented on #1412
@elenatorro could you check if this issue is solved?

[2020-01-13 10:26] elenatorro commented on #1412
This is fixed, but the example in the developer center is not updated. We're re-running all the examples in the developer center here https://github.com/CartoDB/cartoframes/issues/1473

[2020-01-13 10:27] #1412 closed

[2020-01-13 11:31] elenatorro opened #1479 "Generate Guides from Jupyter Notebooks"
Current status: [[WIP] Staging](http://cartoframes-generate-guides-as-md.developers.carto-staging.com/developers/cartoframes/guides)

---

Context
======

In order to avoid duplication and improve the release process, we aim to write the Guides as notebooks instead that using markdown format.

Main reasons:
- Easily check if a guide is failing and why
- Don't need to run and re-publish examples, b

[2020-01-13 12:18] Jesus89 commented on #1457
Hi @ilbambino. Thanks for the detailed description :) I comment my thoughts about how to obtain the data and some suggestions:

- `cf_user_id`: I would rename this to `installation_id` or something like that. My idea is to get the `user_config_dir` and save a file `uuid` with a randomly generated id. This will be created, if not exists when `cartoframes` is used.
- `user_id`: We can use the `usern

[2020-01-13 12:48] ilbambino commented on #1457
Thank you! I agree with the approach with some comments:

- `user_id`. Let's not implement it yet. We don't want to send the username for privacy/legal reasons. We need to find another solution.
- `installation_id` looks like a great approach. The only caveat would be in environments like Google Colab. In those cases the persistence might not be there all the time. For those it would be great (not

[2020-01-13 15:28] manmorjim opened #1480 "Missing column when uploading CSV through GeoPandas to CARTO"
When we read a CSV file using `read_file` from Geopandas and then we upload it to CARTO specifying the geometry column name with `geom_col` the error _column "geometry" of relation "test_geopandas" does not exist_ is thrown:

[code]

Error stack trace:
[code]

CSV:

[code]
GeoDataframe:
[code]

[2020-01-13 15:32] manmorjim commented on #1480
### Environment

**cartoframes version:** 1.0rc1
**Python version:** Python 3.7.3 (default, Oct  7 2019, 12:56:13)
**OS:** Ubuntu 19.04

[2020-01-13 15:58] cmongut commented on #1460
Hi @connerpate, thanks for using CARTOframes.

You can export a static image thanks to the browser. Let me show you how:

![download_image](https://user-images.githubusercontent.com/711025/72270613-b9603000-3625-11ea-9eb5-507e1494deaf.gif)

Does it work for you?

[2020-01-13 16:46] connerpate commented on #1460
Hi @cmongut,
Your image is cut off on the top and is in Spanish, so I'm not _sure_ what I'm seeing, but I'm guessing you're using the option that in English would be "Save Image As...".
This does not work for me. The only image type option in this workflow is "PNG image", and I specifically need either a) a very high resolution image, or b) ideally a _**vector-based image**_ to work with. A .PNG i

[2020-01-13 17:14] Jesus89 commented on #1438
Hi :wave:

I have been testing the original notebook and I'm not able to reproduce the issue. I have tested `Beta 7` and `RC 1` versions and it works OK.

I have tested the size of the notebook too with and without compression: 6.81 MB compressed vs 27.1 MB without gzip compression. It would be nice to check if the bug happens with a previous version or in what conditions so we can evaluate the fi

[2020-01-13 17:16] Jesus89 commented on #1438
Note: base64 is required to encode the result of the gzip compression, which is a binary output.

[2020-01-13 19:10] andy-esch opened #1482 "Feature request: list tables in user account"
Listing tables in a user account is a perennial feature request. We used to have it (#1437) but it was removed when `Dataset` disappeared.

Listing datasets allows users to programmatically explore tables in their account instead of requiring them to know the names or copy and paste them from the dashboard.

Related
* https://github.com/CartoDB/cartoframes/issues/1437
* https://github.com/CartoDB/

[2020-01-13 19:14] djfan commented on #1482
something like this but more pythonic?
[code]

[2020-01-14 14:45] cmongut commented on #1460
Hi @connerpate,

I have updated the image so it appears in english, sorry about that.

Unfortunately, we don't have an option to export it in a high resolution format right now and it's not planned to be added it soon.

Thank you

[2020-01-14 16:11] #1457 closed

[2020-01-14 16:32] Jesus89 opened #1485 "Explicit "publish" behavior"
The `Map.publish` method creates an API key every time the user visualizes private tables or local data. For example, if you render a DataFrame and then you publish a map, the data is uploaded to a table into CARTO and a custom API key specific for that table is created. This behavior is too implicit, and maybe not desired by the user. Why uploading the data to CARTO? Why creating an API key? Why

[2020-01-15 09:43] oleurud commented on #1485
First of all, I agree with your concern and your proposal, but at the same time, I am afraid about doing it now.

Some details:
- if we add a `create_api_key`, we should add a way for adding a specific api key
- in the geoDataframe case, we must ensure we are not passing the master api key to the map (I think we are doing it in the notebook, so it would be shared too)

[2020-01-15 09:51] Jesus89 commented on #1485
OK. Thanks. I'll create a PoC in a branch to evaluate the improvement.

- I agree with adding an `api_key` param to allow the user to pass a custom API key.
- We should not provide the credentials when visualizing a GDF, I'll check that.

[2020-01-15 10:05] cmongut commented on #1485
I wouldn't raise an exception and make users add another param. I would show the information in a log instead.

It seems the way to go, they should choose the name of the tables to be able to reuse them later.

[2020-01-15 10:10] Jesus89 commented on #1485
This is similar to `if_exists`. By default, it fails because the table name already exists, so the user is informed by an Exception about using `if_exists='replace'`.

If a user wants to publish a map with a private dataset we can not show only a warning message because there is no default behavior for that case. That's why we need to raise an Exception.

Yes. That's exactly the point.

[2020-01-15 10:13] cmongut commented on #1485
Let's ask the users :)

[2020-01-15 10:15] cmongut commented on #1485
Let's ask the users :)

@giuliacarella, @andy-esch could you provide your view here?

[2020-01-15 10:17] Jesus89 commented on #1485
@cmongut  What should be the default behavior when a user wants to publish a map with a private dataset like `map.publish('my_map', '1234', creds)`?

[2020-01-15 10:31] giuliacarella commented on #1485
I agree that you should be able to publish without uploading to carto. What would be the advantages of uploading it to carto before publishing? Better performances with large datasets?

[2020-01-15 10:36] oleurud commented on #1485
You are not sharing your data, at least, you are not sharing it explicitly (because working with MVT you are sharing your data in a way or another)

[2020-01-15 10:51] Jesus89 commented on #1485
Hi @giuliacarella. With this proposal, the user has control over the data upload:
- You can publish a GeoDataFrame without uploading data.
- If you want to upload, first upload your GeoDataFrame with `to_carto` and then run `publish` using the name of the table you provided in `to_carto`. This is more explicit so the user understands better what happens.

[2020-01-15 11:06] giuliacarella commented on #1485
@Jesus89 thanks! I've spoken to @cmongut and I understand now better the issue.

I understand that the problem is that to publish you need an API key, which, if not supplied, would be automatically generated every time the publish method is used, consuming the "API credits" of a user.

I didn't like at all generating manually the API key, what about linking an API key to the name of the visualisat

[2020-01-15 11:39] oleurud commented on #1451
Validating it in the acceptance, we have a change :(

When we said: `clean it: drop all the previous one and create a new one`, it is not the required behavior. Instead of that, we want to reuse the "previous" Kuviz. And what is the previous one taking into account that we could have several with the same name? the last one created with that name.

Being more user-faced:
- a user run a notebook wh

[2020-01-15 11:58] Jesus89 commented on #1485
After an offline meeting, we have decided to do the following:
- Do not upload GeoDataFrames to CARTO by default (avoiding the creation of random tables and API keys)
- Create API keys by default for private datasets with a unique name to reuse already created API keys.
- Add a `maps_api_key` param to the `publish` method to allow the user to pass an API key for private datasets.

[code]

[code]

[2020-01-15 12:01] Jesus89 commented on #1485
You can test this in the branch `1485-explicit-publish`

[2020-01-15 12:41] oleurud commented on #1471
Can a user delete a Kuviz?

[2020-01-15 15:25] elenatorro commented on #1470
Hi! I've added this `version` to test the warning message: https://cartoframes.readthedocs.io/en/readthedocs/

It's not possible to modify the current versions cause they come from the tags. It's not possible either to create a new branch from these tags with the same name, cause readthedocs add a suffix to the name of the new branch when loaded.

This means it's not possible to overwrite the cont

[2020-01-15 15:39] elenatorro commented on #1472
Merged 🚀

[2020-01-15 15:39] #1472 closed

[2020-01-15 15:51] Jesus89 commented on #1470
It should be nice if we redirect /stable/ to that page.

[2020-01-15 16:18] andy-esch commented on #1470
@elenatorro, you are proposing that all v1.0bx pages redirect to https://cartoframes.readthedocs.io/en/readthedocs/ ? I also like @Jesus89's idea of just doing a redirect.

For helping users, we should change the nav: `stable` and `latest` should point to developer center (either the page Elena made or redirect as Jesus suggests), and the v0.x links should stay as they are.
<img width="292" alt="S

[2020-01-15 16:41] elenatorro commented on #828
Note: rename this file https://github.com/CartoDB/cartoframes/tree/develop/docs/developers/migrations/rc1.md to `v1.0.0.md` and add things directly there.

[2020-01-15 16:43] Jesus89 commented on #1480
When using `geopandas.read_file` it adds an extra column to the DataFrame called `geometry`, which is filled with None.

Then CARTO removed that column when "cartodbfying" the new table, because it only allows one geometry column, and two are uploaded (geom and geometry).

The recommendation is to use pandas instead of geopandas to load the CSV file. Instead of `geopandas.read_file('file.csv')` do

[2020-01-15 16:48] Jesus89 commented on #1384
I'll wait until next week to test this with @oriolbx

[2020-01-15 16:56] #1480 closed

[2020-01-15 17:14] andy-esch commented on #1485
I have mixed feelings about uploading a geodataframe in the HTML doc. These dataframes, especially when represented as a GeoJSON can be quite large and have poor performance when rendered on a cartoframes map. Will there be a dataframe size restriction? E.g., if the size is > 10MB, should it fail and advise the user to upload the data to their carto account first?

Another thing that's unclear to

[2020-01-15 18:08] Jesus89 commented on #1485
Thanks for the feedback @andy-esch.

There is a limit in the size of the published HTML files. Now it's quite low (100KB) and it's causing some issues actually (https://github.com/CartoDB/support/issues/2343). We all agree in increasing the number to 10 MB and show a nice Exception in case you exceed the size to upload your data to CARTO and publish using the table.

If the user wants to update an

[2020-01-15 21:50] makella opened #1488 "size_continuous_style/_legend not displaying totals"
@elenatorro @Jesus89
i think the `size_continuous_style / _legend` is reading the `@width_value` and not the actual value. Checked the map below with the previous version to double check and the highest value should be 1 Million +... pretty sure it is reading in the symbol size

<img width="756" alt="Screen Shot 2020-01-15 at 2 43 31 PM" src="https://user-images.githubusercontent.com/1566273/72474

[2020-01-16 07:52] elenatorro commented on #1470
No :) These versions shouldn't leave in `readthedocs` anymore, mainly cause as they're beta versions, they'll be removed at some point and now, they should only be available in the developer center. My proposal is to keep v0.* versions in readthedocs as they are, as you also suggest.

I like this idea! The only issue with that is: if a user enters in readthedocs looking for an older version, it'd

[2020-01-16 09:12] #1451 closed

[2020-01-16 10:49] josemazo opened #1489 "Wrongly instantiated Map doesn't fail"
I found this bug when I tried to create a map with two layers, ignoring that the first parameter, `layers` should be a list, and I passed the second layer as the `basemap`: `Map(Layer(gdf), Layer(iso_gdf))`. The result is that it doesn't say anything, not even an error.

![image](https://user-images.githubusercontent.com/750907/72518607-04f92080-3856-11ea-8d6a-89245206667b.png)

[2020-01-16 10:53] Jesus89 commented on #1489
You need to provide a list of Layers to the Map.

[code]

However, we should add some checks to validate the input parameters.

[2020-01-16 11:22] josemazo commented on #1489
Yes, taking a not so quick look to the docs I got it, hehe.

[2020-01-16 12:51] #1163 closed

[2020-01-16 13:33] #1479 closed

[2020-01-16 13:34] elenatorro commented on #1475
Closed 🚀

[2020-01-16 13:34] #1475 closed

[2020-01-16 13:37] elenatorro commented on #967
We can close this epic cause the refactor is finished 🎉 we'll continue developing docs related issues separately from this epic 🚀

[2020-01-16 13:37] #967 closed

[2020-01-16 16:51] Jesus89 commented on #1438
I think this could depend on the operating system, I can not reproduce the issue on my computer (Linux). Maybe it only happens in Mac OS. :thinking: @arredond could you check that?

[2020-01-17 08:42] elenatorro commented on #1433
I tried to reproduce the issue with the following code, but the visualization works as expected:

[code]

![Screenshot 2020-01-17 at 09 41 16](https://user-images.githubusercontent.com/3824953/72597236-9c6d7a80-390d-11ea-893d-1b0527e92010.png)

Therefore I'm closing this issue. Feel free to re-open it if it happens again or if there's something I'm missing to reproduce it. Thanks!

[2020-01-17 08:42] #1433 closed

[2020-01-17 09:31] #1473 closed

[2020-01-17 09:55] #1488 closed

[2020-01-17 10:11] oleurud commented on #1471
For the record: we decided not to do anything in CF by now since the user can do it from the dashboard.

[2020-01-17 10:21] #1201 closed

[2020-01-17 10:21] #828 closed

[2020-01-17 10:25] Jesus89 commented on #1471
I'll create a ticket with more information about that, just to keep track of it.

[2020-01-17 10:38] cmongut opened #1494 "Manage API keys limit error"
We are raising a generic error when we need to generate a new API key and the user doesn't have any more available.

`ForbiddenErrorException: Access denied`

We need to handle this case and show a proper error message: TBD

[2020-01-17 10:51] cmongut opened #1495 "Add message about tracking metrics at installation time"
As a user, I want to know that the library is going to track my usage in an anonymous way.

We need to add this message when the library has been installed:

[code]

[2020-01-17 10:59] Jesus89 opened #1496 "Deleting publications in CARTOframes"
The way publications are deleted now is incomplete and not very useful. When a map is published, you can use the instance of the map to call `delete_publication` and it removed the latest publication of the map. However, if you publish the same map instance twice with different names, the first publication is lost and `map.delete_publication()` removes the second one which is the latest, but not t

[2020-01-17 11:08] Jesus89 commented on #1494
Note: this requires to change to the backend to provide a more descriptive exception.

[2020-01-17 11:26] Jesus89 commented on #1471
:rocket:

[2020-01-17 11:26] #1471 closed

[2020-01-17 12:09] #1485 closed

[2020-01-17 13:22] oleurud commented on #1449
I have been trying to reproduce the error, but it was impossible to me.

I think it is related to network connection, I can not ensure since Bigquery is not documenting this error, but it is documented in other services like pubsub where they say:

and

In the issue tracker from Google I found that thread, where I get the idea of BQ is waiting for something from the client but it does not happen i

[2020-01-17 13:39] cmongut commented on #1449
[It can also be related with Windows](https://github.com/googleapis/google-cloud-python/issues/9135)

[2020-01-17 13:41] Jesus89 commented on #1495
I'm not sure if we can add this message to the pip install. Could we add it in the installation section instead?

[2020-01-17 14:41] oleurud commented on #1449
I have been doing a download for 1 hour (0.5 MB connection) and it does not fail

[2020-01-17 15:10] andy-esch commented on #1495
I agree with @Jesus89 that this should be in the install section of the docs instead of being printed with `pip install ..`.

[2020-01-17 15:42] #1359 closed

[2020-01-17 16:55] #1495 closed

[2020-01-17 21:30] djfan opened #1502 "List All Available Public Datasets"
`Catalog().subscriptions()` shows available private datasets for one specific account. Is there any function or variable to show all available datasets including public ones? Or how to list all public datasets (providers, etc) through cartoframes.

[2020-01-19 19:18] cmongut commented on #1496
`delete_publication` and `all_publications` methods doesn't work as instance methods but it seems they also don't work really well as static ones of the Map class as it shouldn't have that responsibility. A better option could be to create functions at some level or create a service for publishing.

Said that, with the solution we have already provided, we are giving the user the value we wanted s

[2020-01-19 19:44] cmongut commented on #1386
Hi @oriolbx,

I was able to reproduce this issue in Windows and it was fixed by installing fiona from conda:
`conda install -c conda-forge fiona`

Could you check if this solves the issue on your side?

[2020-01-19 19:54] cmongut commented on #1449
Hey, I was able to reproduce this issue in Windows using the `.to_csv()` method.

I found the solution in the [previous link](https://github.com/googleapis/google-cloud-python/issues/9135) I posted. The solution is to add the timeout parameter to the `read_rows()` method of the bq storage client:

[code]

IDK which would be the right number for that param but it's working now. @oleurud could you m

[2020-01-20 07:05] alasarr opened #1503 "Download a geography returns a 500 error (a few times)"
I've tried to download a Geography and the process hanged and I get this exception:

![image](https://user-images.githubusercontent.com/1161870/72705351-91a82500-3b5b-11ea-9a13-fd08c5089f26.png)

It has been at 95% around 3 minutes without downloading any data (I checked the file size)

cc: @cmongut @oleurud

[2020-01-20 07:08] alasarr commented on #1503
@josemazo did you find this issue during QA or did you forget to test download feature?

[2020-01-20 07:11] alasarr commented on #1503
If you call several times the progress bar brokes:

![image](https://user-images.githubusercontent.com/1161870/72705697-6f62d700-3b5c-11ea-94b4-14afe50d0638.png)

[2020-01-20 07:26] alasarr commented on #1503
Could be that progress bar doesn't work when storage API is used?

[2020-01-20 07:46] alasarr commented on #1503
I've run the download like 10 times and I've not been able to reproduce again the download fail, but the progress bar issue is always there.

[2020-01-20 08:35] rafatower commented on #1436
Superseded by https://app.clubhouse.io/cartoteam/story/56013/client-for-stream-download-of-bq-datasets

[2020-01-20 08:35] #1436 closed

[2020-01-20 08:47] oleurud commented on #1503
They were not returning the `total_rows` with BQ Storage API, this is the reason why the progress bar always looks full but it counts the rows downloaded.

About the error, I have not seen it before

[2020-01-20 08:56] alasarr commented on #1503
As an improvement we could take the number of rows of the dataset from the catalog at summary_json

[2020-01-20 09:05] Jesus89 commented on #1476
This is already done https://github.com/CartoDB/cartoframes/pull/1486

[2020-01-20 09:05] #1476 closed

[2020-01-20 09:17] josemazo commented on #1503
I didn't get any 500 errors, but I encountered the fallback to the regular download from the Storage API.

If that summary is always updated it's the best idea, if not, some metadata can be accessed from the regular BQ API.

[2020-01-20 09:31] oleurud opened #1504 "[DO] Validate BQ projects limits"
We need to validate:
- the limit is working
- we showing the proper message in CF

[2020-01-20 09:37] Jesus89 commented on #1496
OK, perfect. I agree with adding the methods in `viz`. We will add this improvement after the 1.0.0 release.

[2020-01-20 10:11] oleurud commented on #1449
I am looking for a windows computer. We have 2 options:
- use the timeout parameter: right now, the timeout is not set and we will add it one, so, for example, if we add a timeout of 1 hour, I suppose a proper request that needs more than that could fail (I am going to validate it)
- catch the exception and do the fallback to BigQuery lib: we need to ensure the `DeadlineExceeded` is a BQ Storage A

[2020-01-20 13:57] arredond commented on #1438
I've certainly checked it happens on my own machine (which is a Mac) and also on Elena's (which is also a Mac). It's quite likely that the person that initially uncovered this was _also_ using a Mac.

Is there anything else I can help with here? Maybe we can try to debug it together on my machine @Jesus89

[2020-01-20 14:13] Jesus89 commented on #1438
Cool. Let's debug it together tomorrow. Thanks.

[2020-01-20 14:48] cmongut commented on #1449
After doing the acceptance with @oleurud, we found that the fallback to the BigQuery lib makes the download around 6x slower.

We are going to add a huge timeout (7200 = 2h) to the storage API instead and it will work in linux and windows.

[2020-01-20 15:41] #1449 closed

[2020-01-20 15:43] Jesus89 commented on #1449
Closed in https://github.com/CartoDB/cartoframes/pull/1507

[2020-01-21 13:36] oriolbx commented on #1386
I can install Fiona with the command that you mention @cmongut . However, after that I can't install CARTOframes with conda or with pip.

[2020-01-21 13:36] oriolbx commented on #1386
What steps did you follow to install Fiona and CARTOframes?

[2020-01-21 14:01] Jesus89 commented on #1470
Build fixed: https://cartoframes.readthedocs.io/en/v0.10.1/

[2020-01-21 14:02] Jesus89 commented on #1470
We can not redirect to the Dev Center, so the stable redirects to v0.10.1, which contains a warning message to go to the new doc in the Dev Center.

https://cartoframes.readthedocs.io/en/stable/

[2020-01-21 14:02] #1470 closed

[2020-01-21 15:21] cmongut commented on #1502
Hi @djfan!

There isn't a method for that right now. There is a way to get them using the conversion to dataframes.

[code]

Does this solve what you're looking for?

[2020-01-21 15:42] djfan commented on #1502
That works! Thanks!!

[2020-01-21 15:50] #1502 closed

[2020-01-21 17:09] Jesus89 commented on #965
The `Dataset` class does not exist anymore. You can use `SQLClient.count` to get that information.

[2020-01-21 17:09] #965 closed

[2020-01-21 17:45] cmongut commented on #1390
@andy-esch could you check this issue has been solved?

[2020-01-21 18:10] cmongut commented on #1215
Let's close this as we have deprecated the visualization helpers in favour of using style helpers.
Thanks @mabarin!

[2020-01-21 18:10] #1215 closed

[2020-01-21 18:14] cmongut commented on #1212
This issue has been also reported by customers that had several geometries in their dataset.

[2020-01-21 21:00] jatorre commented on #862
Hi all. Can I get an update on this? I had a meeting with databricks the other day and would like to talk to customers now. Have we tried ?

[2020-01-21 21:14] andy-esch opened #1511 "Palette feature request"
Sometimes its important to associate a palette with specific values. This can be done with `color_category_style` but it feels laborious:

[code]

It'd be really nice if we could directly pass in `palette` to the `palette` argument like so:
[code]

This is more inline with what [seaborn](https://seaborn.pydata.org/generated/seaborn.lineplot.html) and other libraries do:
<img width="574" alt="Scree

[2020-01-22 12:31] cmongut commented on #862
I'll try to do a quick test today. The rendering wasn't working and we didn't do anything to fix it. Let's see if they have updated something in their end

[2020-01-22 15:51] Jesus89 commented on #1180
This will be done in the Enrichment API, so this ticket is superseded. Closing it.

[2020-01-22 15:51] #1180 closed

[2020-01-22 15:51] Jesus89 commented on #1169
This will be done in the Enrichment API, so this ticket is superseded. Closing it.

[2020-01-22 15:51] #1169 closed

[2020-01-22 15:52] Jesus89 commented on #1168
This will be done in the Enrichment API, so this ticket is superseded. Closing it.

[2020-01-22 15:52] #1168 closed

[2020-01-22 15:57] Jesus89 commented on #1065
This is not required anymore. Thanks!

[2020-01-22 15:57] #1065 closed

[2020-01-22 15:58] cmongut commented on #862
Hey @jatorre, we have done some tests and the visualization piece is working! I'll close this issue and we will open new ones if we find other issues.

![image](https://user-images.githubusercontent.com/711025/72909822-e7d1bf80-3d37-11ea-8bbe-f567b343984b.png)

[2020-01-22 15:58] #862 closed

[2020-01-22 15:58] Jesus89 commented on #1048
This will be done in the Enrichment API, so this ticket is superseded. Closing it.

[2020-01-22 15:58] #1048 closed

[2020-01-22 16:01] Jesus89 commented on #1045
This should not be needed with the Enrichment API, so this ticket is superseded. Closing it.

[2020-01-22 16:01] #1045 closed

[2020-01-22 16:01] #1035 closed

[2020-01-22 16:03] Jesus89 commented on #968
How can we reproduce this issue?

[2020-01-22 16:09] Jesus89 commented on #854
This has been already implemented in the 1.0.0 release.

[code]

[2020-01-22 16:09] #854 closed

[2020-01-22 16:12] Jesus89 commented on #646
There is no CartoContext anymore, so we can close this one.

[2020-01-22 16:12] #646 closed

[2020-01-22 16:14] Jesus89 commented on #628
There is no CartoContext anymore, so we can close this one.

Btw, you can run multiple SQL queries with `BEGIN; ... COMMIT;`. Maybe this fits your needs.

[2020-01-22 16:14] #628 closed

[2020-01-22 16:18] Jesus89 commented on #542
The creation of Maps API keys for private tables in a map is already done in the `publish` method. It's an automatic process, so there no need for the user to create API keys from CF.

[2020-01-22 16:18] #542 closed

[2020-01-22 16:42] #1401 closed

[2020-01-22 16:43] oleurud commented on #968
I think it is related to Dataset class, so I would close this issue

[2020-01-22 16:43] #968 closed

[2020-01-22 16:45] Jesus89 commented on #1192
Can we close this issue @elenatorro?

[2020-01-22 16:47] elenatorro commented on #1192
Yes :)

[2020-01-22 16:50] #1192 closed

[2020-01-22 16:54] #998 closed

[2020-01-22 17:06] jatorre commented on #862
Wait wait, where did you test his and under what versions... i would like a video to showcas it.

[2020-01-22 17:09] #1097 closed

[2020-01-22 17:12] Jesus89 commented on #1118
This helper does not exist anymore

[2020-01-22 17:12] #1118 closed

[2020-01-22 17:26] Jesus89 commented on #792
With the new Viz API there is no need to set the layer properties

[2020-01-22 17:26] #792 closed

[2020-01-22 17:36] Jesus89 commented on #373
There is no QueryLayer anymore. I think this feature will be replaced by the Visualization API of DO.

[2020-01-22 17:36] #373 closed

[2020-01-22 17:40] Jesus89 commented on #1393
This will be done in the Enrichment API, so this ticket is superseded. Closing it.

[2020-01-22 17:40] #1393 closed

[2020-01-22 17:40] Jesus89 commented on #1330
This will be done in the Enrichment API, so this ticket is superseded. Closing it.

[2020-01-22 17:40] #1330 closed

[2020-01-22 17:41] Jesus89 commented on #1297
This will be done in the Enrichment API, so this ticket is superseded. Closing it.

[2020-01-22 17:41] #1297 closed

[2020-01-22 17:41] Jesus89 commented on #1296
This will be done in the Enrichment API, so this ticket is superseded. Closing it.

[2020-01-22 17:41] #1296 closed

[2020-01-22 17:41] Jesus89 commented on #1167
This will be done in the Enrichment API, so this ticket is superseded. Closing it.

[2020-01-22 17:41] #1167 closed

[2020-01-22 17:41] Jesus89 commented on #1166
This will be done in the Enrichment API, so this ticket is superseded. Closing it.

[2020-01-22 17:45] cmongut commented on #862
I tried cartoframes 1.0 with their [community version](https://databricks.com/signup/signup-community). I can help you if you want :)

[2020-01-22 17:51] Jesus89 commented on #1384
Hi @oriolbx, I'll be available on Monday. Let's see this then.

[2020-01-22 17:55] Jesus89 commented on #1249
`geom_coverage` returns a map. It internally applies the geom decoding to shapely.

However, we can add a flag to return the GeoDataFrame instead (disabled by default to keep the current behavior):

[code]

What param name does work better for you?

[2020-01-22 17:57] Jesus89 commented on #1482
We could add a new method `cartoframes.list_tables(credentials)`. Do you want a list of strings or something different like a DataFrame? @andy-esch @djfan

[2020-01-22 18:15] andy-esch commented on #1482
I think a simple table list is good. If I recall correctly, big query's python client does something like that and I've never craved more than that. I could see an argument for more information, like privacy, etc. just like is listed in the dataset dashboard. My guess is that would be of limited value for most users and that they could get that information other ways programmatically if they wante

[2020-01-23 12:14] cmongut commented on #1386
I installed CARTOframes first and then Fiona so I didn't see the issue you mention. What is the error you are getting installing CARTOframes when Fiona is already installed?

[2020-01-23 13:01] oriolbx commented on #1386
Is the same as before. After installing fiona with conda-forge I has to install CARTOframes with pip, and then the error appeared again

[2020-01-23 13:48] elenatorro commented on #1254
It seems to be fixed with the last Popup changes, please reopen the issue if it happens again 👍

[2020-01-23 13:48] #1254 closed

[2020-01-23 13:50] #267 closed

[2020-01-23 16:23] ramiroaznar commented on #1359
I dont see any improvements in the blog post (the geometries have changed though). Maybe the cartoframe anination was done by a previous version...

![cartoframes](https://user-images.githubusercontent.com/5215798/73002882-fdf98180-3e04-11ea-8ea4-d2ac3d573661.gif)

[2020-01-24 11:44] elenatorro commented on #1359
Hi @ramiroaznar :) As you said, the animation has changed. This specific issue has been solved, but it's true that we need to be able to configure the animation through CARTOframes. In this blog post example, the problem is that the animation doesn't _hold_.

For this purpose, we've opened [this issue](https://github.com/CartoDB/airship/issues/675), in order to use an animation helper in the style

[2020-01-27 15:58] rafatower commented on #1434
Superseded by https://app.clubhouse.io/cartoteam/story/56009/client-for-bq-dataset-creation

[2020-01-27 15:58] #1434 closed

[2020-01-27 15:59] rafatower commented on #1435
Superseded by https://app.clubhouse.io/cartoteam/story/56011/client-for-bq-datasets-stream-upload

[2020-01-27 15:59] #1435 closed

[2020-01-29 15:20] cmongut opened #1517 "Uploading a GeoDataFrame with geometry and the_geom columns to CARTO fails"
[code]

[code]

[2020-01-29 15:31] cmongut opened #1518 "Add example about how to load a shapefile"
Shapefile is a common geospatial vector data format. Let's show how to load it with geopandas and visualize it with CARTOframes.

![Screen Shot 2020-01-29 at 16 30 26](https://user-images.githubusercontent.com/711025/73370547-aea7cb00-42b4-11ea-824a-0af1b761246e.png)

[2020-01-29 15:54] cmongut opened #1519 "Allow to show legends in Maps inside a Layout"
As a data scientist, I want to be able to show legends inside a Layout to be able to understand the results.

![image](https://user-images.githubusercontent.com/711025/73372754-0431a700-42b8-11ea-839b-857fff21e8be.png)

[2020-01-29 15:58] cmongut opened #1520 "Allow to publish a Layout"
As a data scientist, I want to be able to publish a Layout so I can share the comparison with anyone.

[2020-01-29 16:05] cmongut opened #1521 "Add a component to hide and show layers"
As a data scientist, I want to be able to hide and show layers so I can decide which variables to show.

Quote: "This is the main reason I still use builder."

[2020-01-29 16:09] Jesus89 commented on #1517
The problem is that the `rename_geometry` function of gpd does not take into account that a column already exists with the same name. In this case, we ended with two `the_geom` columns during the `to_carto`. However, the fix in CF is pretty straightforward.

Note: a solution to offer the users, which is also cleaner, is to upload directly the DataFrame using the `geom_col` param:

[code]

[2020-01-30 19:38] djfan opened #1523 "Footer doesn't work as expected in published map"
Footer (from legend) works well in my jupyter lab locally.
<img width="246" alt="Screen Shot 2020-01-30 at 2 29 57 PM" src="https://user-images.githubusercontent.com/13675438/73483678-d5760800-436d-11ea-82dc-0b8c527ea75c.png">

But, after I publish it, it doesn't work.
<img width="246" alt="Screen Shot 2020-01-30 at 2 30 05 PM" src="https://user-images.githubusercontent.com/13675438/73483679-d6a73

[2020-01-30 19:55] djfan opened #1524 "ramp color by kmeans clustering result"
If the distribution of target feature looks like this:
<img width="1024" alt="Screen Shot 2020-01-30 at 2 44 01 PM" src="https://user-images.githubusercontent.com/13675438/73484355-25a19a00-436f-11ea-90ab-eba7e86b0d0d.png">

Commonly, we want to assign colors based on the breaks like this

<img width="1070" alt="Screen Shot 2020-01-30 at 2 45 14 PM" src="https://user-images.githubusercontent.com/1

[2020-01-30 20:12] djfan commented on #1524
For example,

[code]
<img width="121" alt="Screen Shot 2020-01-30 at 3 11 05 PM" src="https://user-images.githubusercontent.com/13675438/73486287-d2314b00-4372-11ea-81cb-2534bbebc52f.png">

[2020-01-30 20:20] djfan commented on #1523
cc @StevePIsaac as well

[2020-02-03 11:25] jorisvandenbossche commented on #1386
The reason that the `pip install shapely` is failing on Windows, is because shapely did not have binary wheels for Windows (so it tried to build it locally, but then you need GEOS and a compiler installed, which is typically not the case).
But, this should be solved with the latest Shapely release from a few days ago (1.7), which now added binary wheels for windows: https://pypi.org/project/Shapel

[2020-02-03 13:01] jorisvandenbossche commented on #1517
It should probably check that (currently, geopandas is relying on pandas' DataFrame.rename behavior, which just renames ad creates a duplicate column name). Do you want to open an issue on the geopandas repo for this?

[2020-02-03 13:56] oriolbx commented on #1386
Thanks a lot for the info @jorisvandenbossche :)

So, if I understood you correctly. We should install first  Shapely version 1.7.0 and , once it is installed, install cartoframes.

Unfortunately, CARTOframes returns an error when it tries to install Fiona. I will try to install Fiona with  conda-forge after installing Shapely version 1.7.0 and then, I will install CARTOframes

[2020-02-03 14:45] jorisvandenbossche commented on #1386
Hmm, I thought fiona should have binary wheels available (it's the same reason as I explained above: it is trying to build fiona from source on your machine).
Note: you can also use conda-forge to install both shapely and fiona (which I would recommend on Windows)

[2020-02-03 14:56] jorisvandenbossche commented on #1398
Sorry for the slow reply here (the notification got a bit lost during the holidays).

So in general I am of course supportive of the approach! Regarding the verbosity of creating a GeoDataFrame from certain sources (mainly csv I think?), where you need to use `decode_geometry` or `points_from_xy` or ...: I think it can certainly make sense to provide some wrapper function in CARTOframes that makes

[2020-02-03 16:22] oriolbx commented on #1386
I managed to install CARTOframes applying the next steps:

1. Install Shapely with `pip install shapely`
2. Install Fiona with `conda install -c conda-forge fiona`
3. Install CARTOframes with `pip install cartoframes`

Thanks for the help @jorisvandenbossche !

[2020-02-03 19:20] ztephm commented on #1523
Adding this to Frontend RT Kanban b/c of @StevePIsaac comment here: https://github.com/CartoDB/research/issues/729#issuecomment-581553844

@elenatorro would you please let us know if this is for a different team than Response Team Frontend? Thank you.

[2020-02-04 07:41] elenatorro commented on #1523
Hi! yes, I'll pick that one 👍

[2020-02-04 11:29] elenatorro commented on #1523
Hi @djfan 👋 could you try publishing this visualization from the `fix/1523-text-scaping` branch? Thanks! :)

[2020-02-05 10:04] cmongut commented on #1386
Thanks both! Closing this and adding priority to adding it to conda-forge, #363.

[2020-02-05 10:04] #1386 closed

[2020-02-05 15:22] elenatorro opened #1528 "Some legends are failing in the examples"
Some of our examples are failing, as we can see in the developer center:

https://carto.com/developers/cartoframes/examples/#example-cluster-size-style

![Screenshot 2020-02-05 at 16 20 22](https://user-images.githubusercontent.com/3824953/73854987-af4fdc80-4833-11ea-9aa0-69152b26be0b.png)

[2020-02-05 21:54] djfan commented on #1523
solved !! @elenatorro hope this could be merged in the next release.
Here's the [Colab Notebook](https://colab.research.google.com/drive/1Rp2bUiLEnOTXPWXzfIqN2tugtIpzvhoN)

[2020-02-05 21:55] #1523 closed

[2020-02-06 13:09] cmongut opened #1529 "Add migration message to the developer center"
As a former CARTOframes user, I want to know how to update my code to CARTOframes 1.0 so I can take advantage of the latest improvements.

Let's add the following warning message to the developer center for CARTOframes 1.0.

[code]

[2020-02-06 15:06] andy-esch commented on #1393
Hey all, not sure where to leave my comments but I have the following use case:

I have polygons and I want to enrich them with attributes for point geometries. For example, POIs that have number of visits and I want to get the sum of all visits for the polygons. What happens now is that I get null values, which is not my expectation.

Looking at the constructed query, I can understand why it happ

[2020-02-06 15:14] andy-esch commented on #1393
I agree this should return an exception, but only if the area normalization is set. I believe the default behavior for points should be

[code]

[2020-02-10 16:10] wyattshapiro opened #1532 "Create option to add a hyperlink as a popup element"
In Carto, you are able to add fields in popup elements that are hyperlinked.
(Source: https://carto.com/help/building-maps/link-img-popup/)

In Cartoframes, the cartoframes.viz.popup_element accepts a string as a variable, but it cannot render a hyper link

[2020-02-11 10:33] #1528 closed

[2020-02-11 15:23] elenatorro commented on #1532
Hi, @wyattshapiro 👋

We've in mind different popup helpers such as `popup_link` and `popup_image`, as we've discussed in several occasions. Right now this feature is not a priority, but we'll take this ticket into account for the next iterations. Thanks!

[2020-02-13 15:58] alasarr commented on #1393
@cmongut that's important. If a user wants to enrich against a POIs datasets, something quite common they will get the exception.  For me it's a bug right now

[2020-02-13 19:38] djfan commented on #1524
seems like [pygeoda](https://github.com/lixun910/pygeoda) now supports `NaturalBreaks`

[2020-02-24 15:17] djfan opened #1557 "delete default credential"
After `set_default_credentials()`, how can users properly delete this default credential ?

Anything else other than
[code]
?

[2020-02-25 09:12] Jesus89 commented on #1557
We have just introduced this method: https://github.com/CartoDB/cartoframes/blob/develop/cartoframes/auth/defaults.py#L131. It will be available in 1.0.1.

[2020-02-25 16:54] djfan commented on #1557
perfect!!

[2020-02-25 16:54] #1557 closed

[2020-02-26 19:32] ztephm opened #1564 "Documentation edit"
Can we edit this page to make it clear that maps can't be published with a `default_public` API key please?

https://carto.com/developers/cartoframes/examples/#example-publish-public-table-visualization

Asking because the current language is confusing to users:
https://github.com/CartoDB/support/issues/2418

Let me know if Support should do a pull request, I'm happy to if we need.

[2020-02-27 13:22] elenatorro commented on #1564
Hi @ztephm, what do you think about this?

Read more about Maps API Keys: https://carto.com/developers/auth-api/guides/types-of-API-Keys/

Do you think we should add it somewhere else?

[2020-02-27 21:51] ztephm commented on #1564
Sounds good @elenatorro - I made small edits:

We do already say this in the Guides section, so I think we don't need to add it in a third place at this point:

![Screen Shot 2020-02-27 at 2 48 04 PM](https://user-images.githubusercontent.com/1779444/75489824-39d9b680-5970-11ea-802d-77fb6fc16b39.png)

[2020-02-28 18:18] djfan commented on #1524
https://github.com/pysal/mapclassify

cc @andy-esch

[2020-03-02 15:09] elenatorro commented on #1564
In production! 🚀 thanks @ztephm!

[2020-03-02 15:09] #1564 closed

[2020-03-03 15:40] Jesus89 commented on #1529
Closed in https://github.com/CartoDB/developers/pull/694

[2020-03-03 15:40] #1529 closed

[2020-03-03 15:52] Jesus89 commented on #1132
Closed in https://github.com/CartoDB/carto-vl/pull/1429, https://github.com/CartoDB/cartoframes/pull/1537

[2020-03-03 15:52] #1132 closed

[2020-03-03 15:53] Jesus89 commented on #1212
Closed in https://github.com/CartoDB/cartoframes/pull/1541

[2020-03-03 15:53] #1212 closed

[2020-03-03 15:55] Jesus89 commented on #1521
Closed in https://github.com/CartoDB/airship/pull/678

[2020-03-03 15:55] #1521 closed

[2020-03-03 15:55] Jesus89 commented on #1438
Closed in https://github.com/CartoDB/cartoframes/pull/1536

[2020-03-03 15:55] #1438 closed

[2020-03-03 15:56] Jesus89 commented on #1223
Fixed in https://github.com/CartoDB/airship/pull/676

[2020-03-03 15:56] #1223 closed

[2020-03-04 19:16] maptastik opened #1571 "default_legend does not show layer symbol for basic point, line, and polygon layers"
I am trying to add a layer to a map where all features of that layer are styled uniformly. In other words, a feature's styling is not based on an attribute of the data. I am able to add the layer and style as I'd like with success, but when I define the legend argument for the layer using `default_legend()`, the rendered legend does not contain an example of the symbol.

In reading through related

[2020-03-05 13:23] elenatorro commented on #1571
Hi, @maptastik

As you mention: yes, this was a known issue. We'll develop a solution for this in the next weeks. We're trying to think about the best solution for this, mainly what we should show as a label. Any feedback is welcome :)

[2020-03-05 14:29] maptastik commented on #1571
@elenatorro Thanks for the response and my apologies. I misunderstood what I was reading in those issues I referenced and thought this had been resolved. Generally speaking what @makella has [proposed](https://github.com/CartoDB/cartoframes/issues/1192#issue-521788609) (#1192) is what I had expected when using `default_legend()` with a single symbol layer type.

[2020-03-05 14:33] elenatorro commented on #1571
Yes, my fault cause maybe it wasn't clear: this was meant to be done in two steps: the first one was to remove the wrong label, and the next one to implement a solution, following @makella and other proposals along with internal user tests 👍

[2020-03-05 22:06] jdgodchaux commented on #1223
@Jesus89 @cmongut @elenatorro @Mmoncadaisla Just had a conversation with the customer mentioned in https://github.com/CartoDB/support/issues/2412 and was wondering when to expect this updated. Will this wait for the release of the CARTOframes v1.0.2 or will this be available sooner than that?

[2020-03-06 08:07] elenatorro commented on #1223
Hi @jdgodchaux 👋 This was an Airship bug that was fixed here https://github.com/CartoDB/airship/pull/676 and should be working fine now :)

Airship fixes can be added in the last cartoframes version automatically, so If there's any other issue, please let me know and we'll work on that :) Thanks!

[2020-03-12 16:27] maptastik opened #1588 "Legend not rendered for maps in layout"
I have a few maps that I would like to group together in an instance of `Layout()`. I want each map in the layout to have their own individual legends. When I render each map individually, the legend I defined for that instance of `Map()` renders as expected. However, when I add those same maps to an instance of `Layout()`, the legend does not render.

[Here is a Colab Notebook demonstrating this

[2020-03-12 23:11] ztephm commented on #1520
Enterprise user is asking for this feature, in Zendesk Ticket 69736. I have more use-case details if you need @cmongut

[2020-03-12 23:12] ztephm commented on #1519
Enterprise user is asking about this feature in Zendesk Ticket 69736. I have more use-case details if we need @cmongut

[2020-03-13 09:05] Jesus89 commented on #1588
Dup: https://github.com/CartoDB/cartoframes/issues/1519

[2020-03-13 09:06] Jesus89 commented on #1518
Done in https://github.com/CartoDB/cartoframes/pull/1547

[2020-03-13 09:06] #1518 closed

[2020-03-13 09:08] oleurud opened #1590 "Bug with more than one filter in enrichment"
In versions 1.0.0 and 1.0.1, when a user adds more than one filter in enrichment, we are using only the last one. For example:

[code]

we are going to use only `variable2.id: '< 800'` and the first one `variable1.id: '> 300'` won't be used.

The problem is in https://github.com/CartoDB/cartoframes/blob/v1.0.1/cartoframes/data/observatory/enrichment/enrichment_service.py#L113 where we should use a

[2020-03-13 09:15] Jesus89 commented on #1504
Is this ticket still valid with the new Enrichment API?

[2020-03-13 09:23] oleurud commented on #1504
Yes. @gonzaloriestra and I validated the first one (the limit is working by project) some time ago, but probably the error from Google will be lost in the API (although it will be in the logs)

[2020-03-16 19:09] cmongut commented on #1519
Hi @ztephm, we are already working on this. It should be ready in the next release :)

[2020-03-16 19:13] cmongut commented on #1520
Hi @ztephm, thank you very much for reporting this. We are doing some tests to see if we can get it soon. I'll keep you update it.

[2020-03-16 19:15] cmongut commented on #1588
Hi @maptastik, thank you very much for reporting this. We are already working on it so It should be ready in the next release :)

[2020-03-17 16:52] alexrobl opened #1599 "Problem with cdb_service_quota_info() does not exist"
I am new user of cartoframes, I have my API Key and I tried start with Quickstart. But I have this problem. I thought that my conda had problem or my notebook, but I tried in colab and the same thing happens. Somebody may help me.

Code:

from cartoframes.data.services import Geocoding

stores_gdf, _ = Geocoding().geocode(stores_df, street='address')
stores_gdf.head()

Response:

CartoException: [

[2020-03-23 13:23] cmongut commented on #1599
Hi @alexrobl, thanks for trying CARTOframes :)

Could you tell us which version are you using? You can get it by doing:

[code]

Thanks!

[2020-03-27 07:09] VictorVelarde opened #1601 "Broken links in dev center guides for v1.0b2"
As notified by @jaimegc, there are some broken links in dev center, in the Guides, for v1.0b2

Check links at
https://carto.com/developers/cartoframes/v1.0b2/guides/Introduction/

(also check some other betas, as it looks like an issue on 'version prefix')

[2020-03-30 17:45] cmongut commented on #1601
Thanks @VictorVelarde! Low priority as it was notified internally.

cc @CartoDB/rt-managers

[2020-04-01 09:05] #1588 closed

[2020-04-01 09:06] Jesus89 commented on #1520
It will be available in the next release 1.0.2

[2020-04-01 09:06] #1520 closed

[2020-04-01 09:06] #1519 closed

[2020-04-07 10:52] manmorjim opened #1617 "Escaping single quotes inside functions calls"
## Context

When we define a query which contains single quotes like:

[code]

It generates a syntax error in the SQL API when is passed by parameter to a SQL function. For example if we use the query above to publish a new map:

[code]

This code does a request to the SQL API with a function call `CDB_QueryTablesText`:

[code]

The SQL API returns a 400 error due to unbalanced quotes:

[code]

A

[2020-04-13 17:38] cmongut commented on #1617
Hi @manmorjim,

thank you very much for giving enough detail and propose a nice solution, we will consider it for the next release :)

[2020-04-21 07:49] cmongut commented on #1571
Hi @maptastik, this was already added to CARTOframes, you can check an example [here](https://carto.com/developers/cartoframes/examples/#example-multiple-layers).

Thanks for your feedback :)

[2020-04-21 07:49] #1571 closed

[2020-04-21 07:51] cmongut commented on #930
Hi both :)

This was already added to CARTOframes, you can check it [here](https://carto.com/developers/cartoframes/examples/#example-multiple-layers)

Thank you 🤗

[2020-04-21 07:51] #930 closed

[2020-04-21 07:53] cmongut commented on #994
This was already added to the CARTOframes documentation, you can check it [here](https://carto.com/developers/cartoframes/guides/Data-management/).

[2020-04-21 07:53] #994 closed

[2020-04-23 18:49] ztephm commented on #1617
@FerGolden when this is implemented, it will solve this Support issue: https://github.com/CartoDB/support/issues/2476

[2020-05-04 15:56] maptastik commented on #226
Is there any chance this issue will be revisited? From what I can tell, XYZ tiles are not supported in CARTOframes. Apologies if I ammisunderstanding, but it appears we are limited to either:

1. CARTO basemaps as provided via `basemaps`
2. Mapbox vector tiles

I'd like to be able to use imagery served as XYZ tile as a basemap for some of my work,. However, my understanding is one would need to pu

[2020-05-07 06:13] Jesus89 opened #1632 "Move CI to GitHub Actions"

[2020-05-14 14:05] Jesus89 commented on #1617
Fixed in #1619. Released in CF 1.0.3

[2020-05-14 14:05] #1617 closed

[2020-05-14 14:09] Jesus89 commented on #826
Fixed in https://github.com/CartoDB/cartoframes/pull/1626, https://github.com/CartoDB/airship/pull/689. Release 1.0.3

[2020-05-14 14:09] #826 closed

[2020-05-14 14:10] Jesus89 commented on #543
Fixed in https://github.com/CartoDB/cartoframes/pull/1633, https://github.com/CartoDB/cartoframes/pull/1628. Release 1.0.3

[2020-05-14 14:10] #543 closed

[2020-05-18 12:40] Jesus89 commented on #226
Hi @maptastik.

You're right. Now only CARTO or Mapbox basemaps are available. FYI we are working on a new Web SDK which will be used by CARTOframes to render maps in the next mid-term version (https://github.com/CartoDB/toolkit). This will change everything regarding rendering internally, so it opens the option to allow XYZ tile support, and we will consider your request.

Thanks.

[2020-05-27 14:42] AnasR1986 opened #1640 "Upload Folium map in HTML formate to GitHub"
when uploading follium map in HTML formate to GitHub and enter it. I am seeing HTML Code instead of the interactive map I have on my local disk.

Can someone help?

GitHub link to the HTML [file](https://github.com/AnasR1986/Coursera_Capstone/blob/master/map%5Cindex.html)

screen shot of the map is
![Screenshot 2020-05-27 at 14 45 21](https://user-images.githubusercontent.com/64679971/83034746-e17

[2020-05-28 07:21] AnasR1986 commented on #1640
I used nbviewer to render it and it works fine..

[2020-05-28 07:21] #1640 closed

[2020-06-06 14:38] kristinepetrosyan opened #1644 "MultiPolygon Not Displaying in Layer"
from cartoframes.viz import Layer
from geopandas import read_file

df=read_file('https://services9.arcgis.com/6Hv9AANartyT7fJW/arcgis/rest/services/USCounties_cases_V1/FeatureServer/0/query?f=geojson&where=1%3D1&returnGeometry=true&spatialRel=esriSpatialRelIntersects&outSR=102100&cacheHint=true')

Layer(df, basic_style(opacity=0.5), geom_col='geometry', encode_data=False)

I get a map with no poly

[2020-06-09 07:46] Jesus89 commented on #1644
Hi @kristinepetrosyan

CARTOframes layers expect the projection to be `epsg:4326` an the CRS in your GeoDataFrame is `epsg:3857`. In order to convert it you need to remove null geometries and call `to_crs`:

[code]

Then you can render the GeoDataFrame, you don't need to provide `geom_col` since it's a GeoDataFrame with a valid default geometry column, this is useful to render DataFrames with enco

[2020-06-09 07:46] #1644 closed

[2020-06-11 09:36] jatorre opened #1646 "When a map is published the link at the button does not open in a new window"
The link at the button of the publsihed publication does not open in a new window, so when the map is piublished on a blog like in our case you get it weird.

![image](https://user-images.githubusercontent.com/127803/84369840-be76da80-abd7-11ea-8b5c-7a55f1e6dadc.png)

Example in here: https://carto.com/blog/worldpop-global-demographic-insights/

[2020-06-12 06:41] Jesus89 commented on #1646
Good catch. The link is opened inside the iframe. I think with `target="_blank"` solves the issue. I'll create a ticket in CH.

[2020-06-12 06:45] Jesus89 commented on #1646
https://app.clubhouse.io/cartoteam/story/84666/open-learn-more-link-outside-iframe

[2020-06-12 07:27] Jesus89 commented on #1646
Solved in https://github.com/CartoDB/cartoframes/pull/1647.

It will be ready to use in the next release (1.0.4), but only for new publications not for the old ones since it's a change in the HTML content.

[2020-06-12 07:27] #1646 closed

[2020-06-12 07:58] jatorre commented on #1646
thanks!

On Fri, Jun 12, 2020 at 9:27 AM Jesús Arroyo Torrens <
notifications@github.com> wrote:

[2020-06-13 13:41] andrewhong5297 opened #1648 "Cannot access Datasets"
The code from [this tutorial ](https://carto.com/developers/cartoframes/guides/Quickstart/)

[code]

Gives me the error
`
JSONDecodeError: Expecting value`

and
`
CatalogError: We are sorry, There's a problem when connecting to the catalog: Expecting value: line 1 column 1 (char 0)`

Also, where is the full list of demographic datasets? I can't find them on the site. Thanks!

[2020-06-17 03:34] kristinepetrosyan commented on #1644
@Jesus89 thank you!

[2020-06-17 06:04] Jesus89 commented on #135
Old API. This is already covered in the new API

[2020-06-17 06:04] #135 closed

[2020-06-17 06:09] Jesus89 commented on #254
Since CARTOframes is integrated with Geopandas, we cover that feature.

[2020-06-17 06:09] #254 closed

[2020-06-17 06:09] Jesus89 commented on #308
Already done

[2020-06-17 06:09] #308 closed

[2020-06-17 06:10] Jesus89 commented on #321
Related to DO v1 (deprecated)

[2020-06-17 06:10] #321 closed

[2020-06-17 06:10] Jesus89 commented on #352
Old API

[2020-06-17 06:10] #352 closed

[2020-06-17 06:12] Jesus89 commented on #386
Done

[2020-06-17 06:12] #386 closed

[2020-06-17 06:12] Jesus89 commented on #428
Old API. We already use the schema in the new API

[2020-06-17 06:12] #428 closed

[2020-06-17 06:14] Jesus89 commented on #487
Using tox now, it solves the issue of multiple environments. However, we will improve CI by https://github.com/CartoDB/cartoframes/issues/1632

[2020-06-17 06:14] #487 closed

[2020-06-17 06:19] Jesus89 commented on #803
Dup: https://github.com/CartoDB/cartoframes/issues/645

[2020-06-17 06:19] #803 closed

[2020-06-17 06:20] Jesus89 commented on #665
This is already covered with the `title` param

[2020-06-17 06:20] #665 closed

[2020-06-17 06:22] Jesus89 commented on #780
Already using TRUNCATE instead of DROP + CREATE

[2020-06-17 06:22] #780 closed

[2020-06-17 06:24] Jesus89 commented on #785
Since we are moving from VL to WebSDK (deck.gl) we can close this one and check static maps in deck.gl

[2020-06-17 06:24] #785 closed

[2020-06-17 06:25] Jesus89 commented on #843
Old API. Append is also covered in the new one.

[2020-06-17 06:25] #843 closed

[2020-06-17 06:32] Jesus89 commented on #958
This is obsolete. The current implementation improves the geometry column management

[2020-06-17 06:32] #958 closed

[2020-06-17 06:34] Jesus89 commented on #1009
We will cover this with the new legends implementation in the WebSDK cc @VictorVelarde

[2020-06-17 06:34] #1009 closed

[2020-06-17 06:41] Jesus89 commented on #1037
Using Layer title instead for the legend. Also, title, description, and footer can be set to each legend

[2020-06-17 06:41] #1037 closed

[2020-06-17 06:45] Jesus89 commented on #1148
We are using style helpers instead and are moving to WebSDK. cc @VictorVelarde for awareness.

[2020-06-17 06:47] Jesus89 commented on #1210
This is because the path is cartoframes.auth.Credentials

[2020-06-17 06:50] Jesus89 commented on #1235
Done in `to_csv`: file_path, sql_query, add_geom

[2020-06-17 06:50] #1235 closed

[2020-06-17 06:52] Jesus89 commented on #1252
cc @VictorVelarde

[2020-06-17 06:55] Jesus89 commented on #1384
Reviewing the old tickets. We were not able to reproduce this one, so closing it for now

[2020-06-17 06:55] #1384 closed

[2020-06-17 06:55] Jesus89 commented on #1390
Already solved

[2020-06-17 06:55] #1390 closed

[2020-06-17 06:58] Jesus89 commented on #1460
This is not possible with the current implementation (using VL). But we will save the proposal for a possible future implementation using WebSDK. cc @VictorVelarde

[2020-06-17 06:58] #1460 closed

[2020-06-17 06:59] Jesus89 commented on #1469
This can be already done by using the new param `sql_query` to filter the dataset.

[2020-06-17 06:59] #1469 closed

[2020-06-17 07:00] Jesus89 commented on #1482
Closed by https://github.com/CartoDB/cartoframes/pull/1649

[2020-06-17 07:00] #1482 closed

[2020-06-17 07:03] Jesus89 commented on #1503
Solved by using DO API

[2020-06-17 07:03] #1503 closed

[2020-06-17 07:05] Jesus89 commented on #1590
Is this still happening with the Enrichment API?

[2020-06-17 15:40] VictorVelarde commented on #1252
Ok, we'll have a look once we integrate Histograms, see https://app.clubhouse.io/cartoteam/story/66024/widget-histogram-widget-i-readonly

[2020-06-17 15:50] VictorVelarde commented on #1148
Passing a custom palette should be quite simple on any stylecolor helper... just an array of hex colors, and that's it. But I'm not sure if that "integration" should be greater, as suggested here...

I think that we could probably close this one for now, unless you want to add it to the backlog.

[2020-06-30 16:26] maptastik opened #1659 "Error when rendering a layout of interactive maps with widgets"
Using CARTOframes v1.0.3, I've encountered some unexpected behavior when trying to render a layout that includes interactive maps with widgets. A map with widget will render on its own. However, when I try to render the same map as part of a `Layout()`, it does not render. Instead, I get the following error:

[code]

[I have created this Colab notebook demonstrating this behavior.](https://colab.r

[2020-07-06 05:55] Jesus89 commented on #1648
Hey @andrewhong5297.

What version of Python are you using? Could you try with Python 3.6?

Regarding the catalog, you can discover all the datasets from CARTOframes too. Check the [Discovery guide](https://carto.com/developers/cartoframes/guides/Data-discovery/)

[2020-07-06 06:21] Jesus89 commented on #1440
Closed in https://github.com/CartoDB/cartoframes/pull/1656

[2020-07-06 06:21] #1440 closed

[2020-07-09 16:38] josemazo commented on #1496
PR https://github.com/CartoDB/cartoframes/pull/1497

[2020-07-18 09:46] Jesus89 commented on #1242
This is not required. Closing this

[2020-07-18 09:46] #1242 closed

[2020-07-18 09:51] #1249 closed

[2020-07-18 09:53] #1252 closed

[2020-07-18 09:54] #1431 closed

[2020-07-18 09:57] Jesus89 commented on #1601
We're going to remove 1.0beta docs, so we can close this issue.

[2020-07-18 09:57] #1601 closed

[2020-07-20 06:09] Jesus89 commented on #1111
https://app.clubhouse.io/cartoteam/story/93693/render-subscriptions-forms

[2020-07-20 06:11] Jesus89 commented on #1323
https://app.clubhouse.io/cartoteam/story/88283/improve-code-coverage-cf

[2020-07-20 06:11] Jesus89 commented on #1116
https://app.clubhouse.io/cartoteam/story/88283/improve-code-coverage-cf

[2020-07-20 06:11] Jesus89 commented on #1198
https://app.clubhouse.io/cartoteam/story/88283/improve-code-coverage-cf

[2020-07-20 06:15] Jesus89 commented on #1131
https://app.clubhouse.io/cartoteam/story/93694/render-null-values

[2020-07-20 06:15] Jesus89 commented on #613
https://app.clubhouse.io/cartoteam/story/93694/render-null-values

[2020-07-20 06:16] Jesus89 commented on #1160
https://app.clubhouse.io/cartoteam/story/58531/create-spatial-analysis-guide

[2020-07-20 06:20] Jesus89 commented on #1210
https://app.clubhouse.io/cartoteam/story/93700/fix-links-in-reference-docs-for-py-class

[2020-07-20 06:22] Jesus89 commented on #1474
https://app.clubhouse.io/cartoteam/story/93702/add-shareable-links-in-the-reference

[2020-07-20 06:24] Jesus89 commented on #1221
https://app.clubhouse.io/cartoteam/project/57891/cartoframes

[2020-07-20 06:25] Jesus89 commented on #1274
https://app.clubhouse.io/cartoteam/story/93706/visualize-non-4326-datasets

[2020-07-20 06:26] Jesus89 commented on #1464
https://app.clubhouse.io/cartoteam/story/93707/repo-clean-up-scripts-docs-makefiles

[2020-07-20 06:28] Jesus89 commented on #1489
https://app.clubhouse.io/cartoteam/story/93708/add-params-check-on-every-function-class

[2020-07-20 06:29] Jesus89 commented on #1466
https://app.clubhouse.io/cartoteam/story/93710/fix-wrong-username-error

[2020-07-20 06:30] Jesus89 commented on #357
https://app.clubhouse.io/cartoteam/story/70790/delete-tables-depending-on-whether-they-have-an-api-key

[2020-07-20 06:30] Jesus89 commented on #1496
https://app.clubhouse.io/cartoteam/story/78723/delete-a-published-map

[2020-07-20 06:31] Jesus89 commented on #1504
https://app.clubhouse.io/cartoteam/story/93714/validate-bq-project-limits-check

[2020-07-20 06:32] Jesus89 commented on #1517
https://app.clubhouse.io/cartoteam/story/93715/uploading-extra-the-geom-fails

[2020-07-20 06:33] Jesus89 commented on #1532
https://app.clubhouse.io/cartoteam/story/93716/add-html-content-in-a-popup

[2020-07-20 06:35] Jesus89 commented on #1590
https://app.clubhouse.io/cartoteam/story/93717/using-1-enrichment-filters-fails-check

[2020-07-20 06:35] Jesus89 commented on #1632
https://app.clubhouse.io/cartoteam/story/88281/github-actions-ci-for-cartoframes

[2020-07-20 06:36] Jesus89 commented on #890
https://app.clubhouse.io/cartoteam/story/93718/add-remove-tags-for-a-datasets

[2020-07-20 06:38] Jesus89 commented on #582
https://app.clubhouse.io/cartoteam/story/93719/check-account-disk-quotas-before-writing

[2020-07-20 06:38] Jesus89 commented on #970
https://app.clubhouse.io/cartoteam/story/93719/check-account-disk-quotas-before-writing

[2020-07-20 06:41] Jesus89 commented on #984
https://app.clubhouse.io/cartoteam/story/93720/support-do-geography-variables

[2020-07-20 06:42] Jesus89 commented on #1004
https://app.clubhouse.io/cartoteam/story/93722/jupyter-python-kernel-graceful-shutdown

[2020-07-20 06:43] Jesus89 commented on #660
https://app.clubhouse.io/cartoteam/story/93722/jupyter-python-kernel-graceful-shutdown

[2020-07-20 06:44] Jesus89 commented on #1012
https://app.clubhouse.io/cartoteam/story/93723/optimize-upload-to-carto

[2020-07-20 06:45] Jesus89 commented on #1095
https://app.clubhouse.io/cartoteam/story/93723/optimize-upload-to-carto

[2020-07-20 06:45] Jesus89 commented on #668
https://app.clubhouse.io/cartoteam/story/93724/add-to-html-method-in-map

[2020-07-20 06:46] Jesus89 commented on #698
https://app.clubhouse.io/cartoteam/story/93725/add-repr-to-most-classes

[2020-07-20 09:47] josemazo commented on #1210
PR [CARTOframes#1665](https://github.com/CartoDB/cartoframes/pull/1665)

[2020-07-20 15:59] VictorVelarde commented on #1252
Not happening anymore or no longer relevant?

[2020-08-05 09:52] awa5114 commented on #910
Hi. I'm not familiar with `cartoframes` but I'm definitely curious as to how successful you were in subclassing the `GeoDataFrame` class? I also need to do this for my own projects but am running into serious roadblocks with some of the class methods that generate GeoDataFrames from files or features. Please see my post on [SE](https://stackoverflow.com/questions/63260633/subclassing-a-class-from-

[2020-08-06 01:50] tdimeola opened #1669 "cartoframes quickstart example in jupyter-notebook breaks on geocoding"
Just going through the cartoframes quickstart with the Starbucks example and code breaks on:

`from cartoframes.data.services import Geocoding

stores_gdf, _ = Geocoding().geocode(stores_df, street='address')
stores_gdf.head()`

I've attached a screenshot. Looked for this issue elsewhere but couldn't find anything. Thanks.
![Screenshot_2020-08-05_18-31-40](https://user-images.githubusercontent.com

[2020-08-25 07:53] arredond opened #1679 "Change Dataset.to_dataframe to return GeoDataFrame"
When downloading a DO Dataset to a dataframe, the current return type is a Pandas DataFrame. However, the function includes an option to download the geometry (`add_geom = True`), which is actually the default. IMO, the return type should be a GeoPandas GeoDataFrame, ready to perform further spatial operations.

[2020-08-25 07:57] Jesus89 commented on #1679
Hi @arredond could you create this also in CH. For the next features we will use only CH, sorry :sweat_smile:

[2020-08-28 06:29] Jesus89 commented on #1632
Done!

[2020-08-28 06:29] #1632 closed

[2020-08-28 06:29] Jesus89 commented on #1012
Done. It will be available in the next stable release 1.0.5

[2020-08-28 06:29] #1012 closed

[2020-08-28 06:29] Jesus89 commented on #1095
Done. It will be available in the next stable release 1.0.5

[2020-08-28 06:29] #1095 closed

[2020-08-28 06:30] Jesus89 commented on #582
Done. It will be available in the next stable release 1.0.5

[2020-08-28 06:30] #582 closed

[2020-08-28 06:30] Jesus89 commented on #970
Fixed. It will be available in the next stable release 1.0.5

[2020-08-28 06:30] #970 closed

[2020-08-28 06:30] Jesus89 commented on #1517
Fixed. It will be available in the next stable release 1.0.5

[2020-08-28 06:30] #1517 closed

[2020-08-28 06:32] Jesus89 commented on #1679
https://app.clubhouse.io/cartoteam/story/99926/change-dataset-to-dataframe-to-return-geodataframe-1679

[2020-08-28 06:33] Jesus89 commented on #1679
Done. It will be available in the next stable release 1.0.5

[2020-08-28 06:33] #1679 closed

[2020-09-03 11:23] rahimarekaz opened #1686 "cannot import name 'BaseMap' in cartoframe"

[2020-09-03 14:31] josemazo commented on #1590
With the current CF version, 1.0.4, you can use multiple filters! :tada:

[2020-09-04 04:15] Jesus89 commented on #613
This is fixed in the new CF version using WebSDK. It will be available on the next 1.1 release.

[2020-09-04 04:15] #613 closed

[2020-09-04 04:15] Jesus89 commented on #1131
This is fixed in the new CF version using WebSDK. It will be available on the next 1.1 release.

[2020-09-04 04:15] #1131 closed

[2020-09-04 04:17] #1590 closed

[2020-09-04 17:37] Jesus89 commented on #1466
Closed in #1687

[2020-09-04 17:37] #1466 closed

[2020-10-21 22:16] #1210 closed

[2020-10-27 22:22] maptastik opened #1701 "Cannot render Layout with an odd number of maps and defined N_SIZE and M_SIZE values"
## Problem
It is possible to render a layout with an odd number of instances of `Map()` with the default `N_SIZE` and `M_SIZE` values. However, the result is a single row of containing several maps, a layout which may not be ideal in all circumstances.  However, when I attempt to render a Layout() instance with a defined `N_SIZE` and `M_SIZE` values and an odd number of instances of `Map()`, the r

[2020-12-29 08:04] qq542871902 opened #1715 "how to use in in china map?"
Carto is very efficient, but I want to ask how to use the map of China? Is there a way to use it now? Or need a third-party data source

[2020-12-29 11:05] Jesus89 commented on #1715
Yes, you can create maps with a basemap centered in China and render layers from data like CSV, GeoJSON, or Postgres tables (in case you have a CARTO account). We offer also public and premium data for China, you can check our Spatial Data Catalog: https://carto.com/spatial-data-catalog/browser/?country=chn.

You can create a free account in case you want to store and publish your maps: https://ca

[2020-12-29 11:05] #1715 closed

[2021-03-11 10:53] juanluisrto opened #1724 "Replace geography.geom_coverage with geography.geom_coverage()"
To see the area covered by the geography of a dataset, we can call
[code]
and the output is a nice cartoframes map.

However, this is not working with geographies, where `Geography.get("geom_id").geom_coverage()` method does not exist. What does exists is  the attribute `Geography.get("geom_id").geom_coverage`, which outputs a useless binary object.

Can this be fixed?

[2021-03-11 17:04] Jesus89 commented on #1724
The `dataset.geom_coverage()` loads the WKB data from the `geography.geom_coverage` and this is not compatible with a map `geography.geom_coverage()` because it's already defined as a property.

The solution is really simple to implement (it requires renaming the property), but I would ask @alejandrohall @xavipereztr for the original reasons of the current implementation. Also, feel free to provid

[2021-03-31 11:39] Jesus89 commented on #1599
Hi @NestorTejero, sorry for the inconvenience. We are working on it to solve it ASAP.

[2021-03-31 12:09] NestorTejero opened #1730 "Indicate the need to import read_file from geopandas in the Getting started section"
I am following the Spatial Analysis with CARTOframes section in https://docs.carto.com/get-started/#carto-for-development

When in _GET AREAS OF INFLUENCE_ there is a mention to:

[code]

While it may be obvious, there is a `from geopandas import read_file` missing there that may help people reading it. So this is a kind of [feature-request]

[2021-03-31 15:17] Jesus89 commented on #1599
Hey @NestorTejero the bug seems to be fixed now. Could you try the geocoding again? Thanks

[2021-04-07 09:07] #1599 closed

[2021-07-26 20:46] marclelamy opened #1739 "Pip install errror mac m1"
Hi, I can't manage to pip install the library. There are 28 warnings with 2 errors:   Failed building wheel for fiona and pyproj. any fix?

[2021-07-30 13:18] Jesus89 commented on #1739
Hi. Didn't test it yet, but I guess you're using Python3.9. Could you try installing it with Python3.8?

We'll take a look next week

[2022-03-07 01:31] albexl opened #1748 "Typo in Data Observatory guide"
First line of [cartoframes](https://github.com/CartoDB/cartoframes)/[docs](https://github.com/CartoDB/cartoframes/tree/develop/docs)/[guides](https://github.com/CartoDB/cartoframes/tree/develop/docs/guides)/07-Data-Observatory.ipynb says 'CARTO's Data Observatory is a spatial data platfrom...'

There seems to be a typo in the word 'platfrom', it should be 'platform' instead, in my opinion.

[2022-04-27 13:48] ncarboni opened #1751 "Error publishing map"
I am having a bit of trouble trying to export or publish a map I created with cartoframes.
The ideal possibility would be to export in HTML directly, but my udnerstanding is that it is not possible (please correct me if I am wrong).
Alternatevely, I thought to publish it on carto, however I am getting the "UnauthorizedErrorException: Access denied".

What I am doing:

I simply created a map, creat